Repository corona-warn-app/cwa-website, pull requests merged in 2021-11, with the labels that each got.

#1996 Fix anchor link Cypress test
  cypress/integration/check_anchor_links.js
Labels: cypress, technical-issue

#1966 Add FAQ: vac_booster_notification
  src/data/faq.json
  src/data/faq_de.json
Labels: Fix 2.13, faq

#2000 Update FAQ interoperability_countries
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#1992 Update blog test page (resolves #1991)
  cypress/fixtures/blog/2099-01-01-visual-testing/index.md
  cypress/fixtures/blog/2099-01-01-visual-testing/index_de.md
Labels: technical-issue, blog

#2001 Add FAQ: cert_recycle_bin
  src/data/faq.json
  src/data/faq_de.json
Labels: Fix 2.13, faq

#2008 Update FAQ: cert_recycle_bin
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2011 Update blog: Replace 'Trash' with 'Recycle Bin'
  blog/2021-11-03-cwa-2-13/index.md
Labels: bug, Fix 2.13, blog

#1999 Fix FAQ menu for iPad Air 4th gen
  src/assets/scss/_box.scss
  src/assets/scss/_variables.scss
Labels: faq, technical-issue

#2016 Fix figs on mobile devices for science blog 4
  science/2021-10-15-science-blog-4/index_de.md
Labels: bug, technical-issue, science-blog

#2019 FAQ vac_cert_invalid_211111
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2018 Edit backgroundcolor div under header
  src/assets/scss/_header.scss
  src/partials/header.html
Labels: technical-issue

#2017 Add message about statics figs for mobile devices
  src/assets/scss/_science.scss
  src/data/science.json
  src/layouts/science.html
Labels: science-blog

#2020 typo ihr -> Ihr
  src/data/faq_de.json
Labels: bug, faq

#2025 Change anchor "vac_cert_invalid_211111" to "vac_cert_invalid_211115" & add FAQ redirect
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: faq

#2034 Fix typos
  src/data/event-qr-code-guide_de.json
Labels: bug, qr-code-generator

#2037 Fix analysis background button
  src/assets/js/analyse/switch.js
Labels: bug, analysis-page

#2041 Add FAQ check_in_luca
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2048 Corrections to luca FAQ
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, faq

#2051 Update FAQ entries about interoperability of event QR codes with other contact tracing apps
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2053 Fix resize Google Chrome bug
  src/assets/js/app.js
Labels: technical-issue

#2054 faq_de: "QR-codes" -> "QR-Codes" (Capitalise "codes")
  src/data/faq_de.json
Labels: bug, faq

#2055 FAQ Update check_in_luca
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2063 Consistent spelling of check-in in FAQ check_in_luca
  src/data/faq_de.json
Labels: faq

#2065 Correct typo in Oct 4 2021 blog (DE) - PPA
  blog/2021-10-04-dashboard/index_de.md
Labels: bug, blog

#2066 FAQ check_in_luca: Edit first sentence of answer to question 3
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2068 Add FAQ: vac_booster_jj
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2071 Remove out of date information from `eu_dcc_remove` (Addresses #2030)
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2080 Blog 211115
  blog/2021-11-15-cwa-recalled-certificates/index.md
  blog/2021-11-15-cwa-recalled-certificates/index_de.md
  blog/2021-11-15-cwa-recalled-certificates/push-nachricht.png
  blog/2021-11-15-cwa-recalled-certificates/push-nachricht_en.png
  blog/2021-11-15-cwa-recalled-certificates/roter-punkt-impfzertifikat.png
  blog/2021-11-15-cwa-recalled-certificates/roter-punkt-impfzertifikat_en.png
  blog/2021-11-15-cwa-recalled-certificates/zertifikat-ungültig(1).png
  blog/2021-11-15-cwa-recalled-certificates/zertifikat-ungültig(1)_en_v3.png
  blog/2021-11-15-cwa-recalled-certificates/zertifikat-ungültig(2).png
  blog/2021-11-15-cwa-recalled-certificates/zertifikat-ungültig(2)_en.png
Labels: blog

#2081 Blog fix
  blog/2021-11-15-cwa-recalled-certificates/index_de.md
Labels: bug, blog

#2082 Fix typos and formatting for blog recalled certificates
  blog/2021-11-15-cwa-recalled-certificates/index.md
  blog/2021-11-15-cwa-recalled-certificates/index_de.md
Labels: bug, blog

#2086 Make title of `low_risk_green` more general
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2092 FAQ Was kann ich tun, wenn ich mein Testergebnis oder Testzertifikat nicht erhalten habe?
  src/assets/img/faq/schnelltestportal_issue_fig1.png
  src/assets/img/faq/schnelltestportal_issue_fig2.png
  src/assets/img/faq/schnelltestportal_issue_fig3.png
  src/data/faq.json
  src/data/faq_de.json
  src/data/global.json
  src/partials/header.html
Labels: faq

#2079 Add english translation for analysis page.
  src/assets/js/analyse/date.js
  src/assets/js/analyse/picker.js
  src/data/analyse_en.json
  src/pages/en/analysis/index.html
Labels: analysis-page

#2095 Fixed link styles and link names
  src/assets/scss/_analyse.scss
  src/data/analyse_de.json
Labels: analysis-page

#2094 FAQ: scan_tips
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2096 Add question mark to eu_dcc_validity EN title
  src/data/faq.json
Labels: bug, faq

#2099 Update FAQ article - risk_info
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2100 Improve wording in `count_per_day`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2104 FAQ update cert_recycle_bin
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.14

#2107 Blog 2-14
  blog/2021-11-22-cwa-2-14/bin_android_de.png
  blog/2021-11-22-cwa-2-14/bin_android_en.png
  blog/2021-11-22-cwa-2-14/bin_another_test_ios_de.png
  blog/2021-11-22-cwa-2-14/bin_another_test_ios_en.png
  blog/2021-11-22-cwa-2-14/bin_recover_test_notification_ios_de.png
  blog/2021-11-22-cwa-2-14/bin_recover_test_notification_ios_en.png
  blog/2021-11-22-cwa-2-14/bin_test_ios_de.png
  blog/2021-11-22-cwa-2-14/bin_test_ios_en.png
  blog/2021-11-22-cwa-2-14/index.md
  blog/2021-11-22-cwa-2-14/index_de.md
Labels: Fix 2.1, blog, Fix 2.14

#2111 Schedule restart every 12 hours
  .github/workflows/deploy-master.yml
Labels: technical-issue

#2116 Fixed scroll in IOS devices
  src/assets/js/app.js
Labels: bug, technical-issue

#2115 News archive: remove non-working blog links to labstalk.buzzsprout.com
  src/assets/img/news/labs-talk.jpg
  src/data/news_archive_combined.json
Labels: technical-issue, blog

#2117 Fix double semicolon
  src/assets/js/app.js
Labels: technical-issue

#2118 Update FAQ warn_for_others: Add link to poster
  src/assets/documents/DE_CWA_RKI-Plakat_Stellvertreter-Warnung.pdf
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2123 Remove underline from header whitespace (resolves #2122)
  src/partials/header.html
Labels: technical-issue

#2126 Update scheduled restart to GMT time
  .github/workflows/deploy-master.yml
Labels: analysis-page, technical-issue

#2125 Shorted text block under Analysis page title
  src/assets/js/analyse/modal.js
  src/assets/scss/_analyse.scss
  src/data/analyse_de.json
  src/data/analyse_en.json
  src/partials/page-analyse.html
Labels: analysis-page, technical-issue

#2127 Fix reference on show test result
  cypress/integration/check_links.js
Labels: cypress, technical-issue

#2128 Update analyse_en.json
  src/data/analyse_en.json
Labels: analysis-page

#2067 Restructure build and server start for Cypress tests (resolves timeout #1993) V2
  gulpfile.js
  package-lock.json
  package.json
Labels: cypress, technical-issue

#2105 Reintroducing multiQR functionality
  THIRD-PARTY-NOTICES
  package-lock.json
  package.json
  src/assets/img/pt-poster-1.0.0-multiqr.png
  src/assets/img/pt-poster-1.0.0.svg
  src/assets/img/spinner.gif
  src/assets/js/app.js
  src/assets/js/eventregistration.js
  src/assets/scss/_modal.scss
  src/assets/scss/_slider.scss
  src/assets/scss/style.scss
  src/data/eventregistration.json
  src/data/eventregistration_de.json
  src/layouts/blog.html
  src/partials/page-eventregistration.html
Labels: qr-code-generator, technical-issue

#2135 Update eventregistration_de.json
  src/data/eventregistration_de.json
Labels: qr-code-generator

#2131 Update backup for analyseData.json
  .gitignore
  gulpfile.js
  src/data/analyse_data_no_internet.json
Labels: analysis-page, technical-issue

#2136 Create URL allow list for check_links test
  cypress/integration/check_links.js
Labels: cypress, technical-issue

#2113 Remove unused cypress-plugin-snapshots references in code
  cypress/integration/blog_spec.js
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
Labels: cypress, technical-issue
