Repository corona-warn-app/cwa-website, pull requests merged in 2021-10, with the labels that each got.

#1789 Update Tables Science Blog
  science/2021-08-02-science-blog-3/index_de.md
Labels: bug

#1786 Cypress - check for broken links
  cypress/integration/check_links.js
  cypress/support/index.js
Labels: enhancement, mirrored-to-jira

#1799 Fix issue 1780 KBV forms
  src/assets/documents/MU 10C (01_2021) web.pdf
  src/assets/documents/MU OEGD (08_2021) web.pdf
  src/data/faq.json
  src/data/faq_de.json
Labels: bug

#1823 FAQ eu-dcc-check
  src/data/faq.json
  src/data/faq_de.json
Labels: enhancement, mirrored-to-jira, Fix 2.11

#1811 Update FAQ vac_cert_voluntary
  src/data/faq.json
  src/data/faq_de.json
Labels: enhancement, mirrored-to-jira

#1885 Change AST for RAT in fig 15 science blog 3
  science/2021-08-02-science-blog-3/index_de.md
Labels: mirrored-to-jira, science-blog

#1887 Increase width and font size in fig 15
  science/2021-08-02-science-blog-3/index_de.md
Labels: mirrored-to-jira, science-blog

#1888 Science blog 3 - fig 15 height 800 -> 700px
  science/2021-08-02-science-blog-3/index_de.md
Labels: mirrored-to-jira, science-blog

#1891 Convert blogs 2021-10 to relative paths
  blog/2021-10-01-facts-and-figures/index.md
  blog/2021-10-01-facts-and-figures/index_de.md
  blog/2021-10-04-dashboard/index.md
  blog/2021-10-04-dashboard/index_de.md
Labels: technical-issue

#1895 Convert Glossary entries to use relative paths
  src/data/faq.json
  src/data/faq_de.json
Labels: technical-issue

#1896 Add glossary entry "PPA"
  src/data/faq.json
  src/data/faq_de.json
Labels: glossary

#1905 Fixed Language Switch in Screenshots
  src/pages/en/screenshots-archive/2-9.html
  src/partials/global-nav.html
Labels: screenshots, technical-issue

#1911 Analytics page - Links at bottom: even closer together.
  src/assets/scss/_analyse.scss
Labels: mirrored-to-jira, analysis-page

#1909 Replace Start Screen with Status in FAQ
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 2.12, faq

#1915 Add faq article root_detection_android
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#1072 FAQ - update 'rooted_devices' entry
  src/data/faq.json
  src/data/faq_de.json
Labels: Fix 2.12, faq

#1920 Remove link from faq rooted devices
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#1924 Release 2-12 fix date
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: screenshots, Fix 2.12

#1921 Revert 1336
  src/services/science-blog-processor.js
Labels: science-blog, blog

#1926 Convert 2.12 blog to use relative path
  blog/2021-10-19-cwa-2-12/index.md
  blog/2021-10-19-cwa-2-12/index_de.md
Labels: technical-issue, blog

#1931 analysis page: minor text changes
  src/data/analyse_de.json
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, analysis-page

#1930 Bugfix: analysis display mode freeze
  src/assets/js/analyse/chart/options.js
  src/assets/js/analyse/chart/update.js
  src/assets/js/analyse/index.js
  src/assets/js/analyse/lock.js
  src/assets/js/analyse/switch.js
  src/assets/js/analyse/tabs.js
Labels: analysis-page

#1941 Update FAQ: warn_for_others
  src/assets/img/faq/warn_for_others1.png
  src/assets/img/faq/warn_for_others1_de.png
  src/assets/img/faq/warn_for_others2.png
  src/assets/img/faq/warn_for_others2_de.png
  src/assets/img/faq/warn_for_others3.png
  src/assets/img/faq/warn_for_others3_de.png
  src/assets/img/faq/warn_for_others4.png
  src/assets/img/faq/warn_for_others4_de.png
  src/assets/img/faq/warn_for_others5.png
  src/assets/img/faq/warn_for_others5_de.png
  src/assets/img/faq/warn_for_others6.png
  src/assets/img/faq/warn_for_others6_de.png
  src/data/faq.json
  src/data/faq_de.json
Labels: faq
