Repository corona-warn-app/cwa-website, pull requests merged in 2021-12, with the labels that each got.

#2141 Fix Wikipedia link to Bundesnotbremse in Science Blog 4 DE
  science/2021-10-15-science-blog-4/index_de.md
Labels: science-blog

#2144 Fixed the event registration test
  cypress/integration/pages/eventRegistration.js
Labels: qr-code-generator, cypress

#2137 Science blog 4 EN
  science/2021-10-15-science-blog-4/fig10_en.png
  science/2021-10-15-science-blog-4/fig1_en.png
  science/2021-10-15-science-blog-4/fig2_en.png
  science/2021-10-15-science-blog-4/fig3_en.png
  science/2021-10-15-science-blog-4/fig4_en.png
  science/2021-10-15-science-blog-4/fig5_en.png
  science/2021-10-15-science-blog-4/fig7_en.png
  science/2021-10-15-science-blog-4/fig8_en.png
  science/2021-10-15-science-blog-4/index.md
  science/2021-10-15-science-blog-4/index_de.md
  science/2021-10-15-science-blog-4/ppa_delay_er_pcr_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_er_rat_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_ew_pcr_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_ew_rat_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_tr_pcr_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_tr_rat_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_wt_pcr_plot_en.png
  science/2021-10-15-science-blog-4/ppa_delay_wt_rat_plot_en.png
  science/2021-10-15-science-blog-4/ppa_estimate_ppa_response_rate_1_plot_en.png
  science/2021-10-15-science-blog-4/ppa_estimate_ppa_response_rate_plot_en.png
  science/2021-10-15-science-blog-4/ppa_estimate_ppa_warned_persons_plot_en.png
  science/2021-10-15-science-blog-4/ppa_risk_infection_ct_mosaic_pcr_en.png
  science/2021-10-15-science-blog-4/ppa_risk_infection_ct_mosaic_rat_en.png
  science/2021-10-15-science-blog-4/ppa_risk_infection_ct_timeline_pcr_en.png
  science/2021-10-15-science-blog-4/ppa_risk_infection_ct_timeline_rat_en.png
  science/2021-10-15-science-blog-4/ppa_user_urban_plot_en.png
Labels: mirrored-to-jira, science-blog

#2158 "Tests" with a capital "T" in README.md
  README.md
Labels: documentation

#2159 Fix white space - Update faq_de.json
  src/data/faq_de.json
Labels: faq

#2165 Prevent escaping in FAQ title
  src/partials/page-faq.html
Labels: faq, technical-issue

#2166 Add &nbsp; in FAQ titles.
  src/data/faq_de.json
Labels: faq

#2167 Fixed wording in faq_de 'Auffrischungsimpfung' to ' Auffrischimpfung'…
  blog/2021-09-08-CWA-2-9/index.md
  blog/2021-09-08-CWA-2-9/index_de.md
  blog/2021-09-22-cwa-2-10/index_de.md
  blog/2021-10-11-wichtigste-Funktionen/index_de.md
  src/data/faq_de.json
  src/data/screenshots-archive-2-10_de.json
  src/data/screenshots-archive-2-9_de.json
Labels: faq, blog

#2186 Add FAQs from issue #2181
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.15

#2190 FAQ update - scan tips: add scan from another device
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2191 FAQ update - #vac_booster_jj - issue 2182
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2188 2xFAQ regarding quarantine
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2193 Updated the FAQ entry #vac_cert_red_warning
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.15

#2194 log4j news
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2197 Fix FAQ log4j
  src/data/faq.json
Labels: faq

#2200 Fixed misleading faq statement regarding personal data collection with luca
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, luca

#2196 Isolation Glossary
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, glossary

#2201 Made further adjustments to the log4j faq article
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2202 Fix links in Rote Kachel blog DE
  blog/2021-12-15-handlungsempfehlung-rote-kachel/index_de.md
Labels: blog

#2161 Remove obsolete README comments for Visual Comparisons
  README.md
Labels: documentation, cypress

#2206 added log4j-faq text
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2207 fixed decimals in analysis
  src/assets/js/analyse/chart/options.js
Labels: analysis-page, technical-issue

#2210 Release 2 15 blog
  blog/2021-12-20-cwa-2-15/guidelines(1).png
  blog/2021-12-20-cwa-2-15/guidelines(2).png
  blog/2021-12-20-cwa-2-15/homescreen.png
  blog/2021-12-20-cwa-2-15/import-qr-code.png
  blog/2021-12-20-cwa-2-15/index.md
  blog/2021-12-20-cwa-2-15/index_de.md
  blog/2021-12-20-cwa-2-15/qr-code-scanner-tab.png
  blog/2021-12-20-cwa-2-15/red-tile.png
  blog/2021-12-20-cwa-2-15/rote-kachel(1).png
  blog/2021-12-20-cwa-2-15/rote-kachel(3).png
  blog/2021-12-20-cwa-2-15/rote-kachel(4).png
  blog/2021-12-20-cwa-2-15/ticket-validation(1).png
  blog/2021-12-20-cwa-2-15/ticket-validation(10).png
  blog/2021-12-20-cwa-2-15/ticket-validation(2).png
  blog/2021-12-20-cwa-2-15/ticket-validation(3).png
  blog/2021-12-20-cwa-2-15/ticket-validation(4).png
  blog/2021-12-20-cwa-2-15/ticket-validation(5).png
  blog/2021-12-20-cwa-2-15/ticket-validation(6).png
  blog/2021-12-20-cwa-2-15/ticket-validation(7).png
  blog/2021-12-20-cwa-2-15/ticket-validation(8).png
  blog/2021-12-20-cwa-2-15/ticket-validation(9).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(10).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(11).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(13).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(2).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(3).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(4).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(5).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(6).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(7).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(8).png
  blog/2021-12-20-cwa-2-15/ticket-validierung(9).png
Labels: blog, Fix 2.15

#2213 Update index_de.md
  blog/2021-12-20-cwa-2-15/index_de.md
Labels: blog

#2214 Log4j FAQ link, text and search string adjustments
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2215 Typos and translations in EN 2.15 blog
  blog/2021-12-20-cwa-2-15/index.md
Labels: blog, Fix 2.15

#2212 Create header and separator for '7 day moving' in Analysis page
  src/assets/js/analyse/chart/options.js
Labels: analysis-page, technical-issue

#2157 Harmonize build workflow to match deploy workflow
  .github/workflows/build.yml
  .github/workflows/deploy-master.yml
Labels: technical-issue

#2178 Update gulp-sass to v5 and node-sass to v6
  gulpfile.js
  package-lock.json
  package.json
Labels: technical-issue

#2224 Blog 2-15: add time stamp 0800
  blog/2021-12-20-cwa-2-15/index.md
  blog/2021-12-20-cwa-2-15/index_de.md
Labels: blog, Fix 2.15

#2220 Add start-server to README
  README.md
Labels: documentation

#2230 Update links in red tile blog (EN)
  blog/2021-12-15-handlungsempfehlung-rote-kachel/index.md
Labels: blog

#2234 Use term "validation service" in 2.15 screenshots
  src/data/screenshots.json
Labels: screenshots, Fix 2.15

#2235 Update index_de.md
  blog/2021-12-20-cwa-2-15/index_de.md
Labels: blog, Fix 2.15

#2237 Use "Robert Koch Institute" in EN blogs
  blog/2020-09-04-cwa-1-3-post/index.md
  blog/2021-01-28-cwa-1-11/index.md
  blog/2021-02-23-risk-calculation/index.md
  blog/2021-03-04-cwa-1-13/index.md
  blog/2021-03-19-parameteraenderung-risikoberechnung/index.md
  blog/2021-04-16-anpassung-risikoberechnung/index.md
  blog/2021-05-12-cwa-2-2/index.md
  blog/2021-06-10 CWA 2.3 digitaler Impfnachweis/index.md
  blog/2021-06-24 CWA 2.4 Testzertifikat/index.md
  blog/2021-06-29-twitter-account/index.md
  blog/2021-10-06-cwa-2-11/index.md
  blog/2021-10-11-wichtigste-Funktionen/index.md
  blog/2021-10-19-cwa-2-12/index.md
  blog/2021-11-03-cwa-2-13/index.md
  blog/2021-11-04-booster-notifications/index.md
  blog/2021-11-15-cwa-recalled-certificates/index.md
  blog/2021-11-22-cwa-2-14/index.md
  blog/2021-12-20-cwa-2-15/index.md
Labels: blog

#2238 Link blog to risk reduction information from BMG
  blog/2021-12-15-handlungsempfehlung-rote-kachel/index.md
Labels: blog

#2241 Schnelltest Preview + Link zum Poster
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v2-kl-1.PNG
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v2-kl.pdf
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2242 Create new FAQ "Fragen und Antworten zur Zertifikatsprüfung bei Ticketbuchungen"
  blog/2021-12-20-cwa-2-15/index_de.md
  src/data/faq_de.json
Labels: faq, blog

#2244 Fix/FAQ val_service_basics
  src/data/faq_de.json
Labels: faq

#2246 EN validation article, Blog article faq footer, misspellings
  blog/2021-12-20-cwa-2-15/index.md
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, validation-service

#2249 Prevent blog and science blog changes causing rebuild delays
  gulpfile.js
Labels: technical-issue, science-blog, blog

#2252 Replace narrow nbsp formatting in FAQ DE where not needed
  src/data/faq_de.json
Labels: bug, faq

#2256 Updates to #val_service_basics (DE)
  src/data/faq_de.json
Labels: faq

#2255 Updates to #val_service_basics (EN)
  src/data/faq.json
Labels: mirrored-to-jira, faq, validation-service

#2247 Restore [Browsersync] Reloading Browsers functionality
  gulpfile.js
  src/layouts/blog.html
  src/layouts/default.html
Labels: technical-issue

#2156 Replace GitHub picture with local one
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2260 Eventregistration qr-code generation errors
  src/assets/js/eventregistration.js
  src/data/eventregistration.json
  src/data/eventregistration_de.json
  src/partials/page-eventregistration.html
Labels: qr-code-generator

#2262 Update `eu_dcc_remove` to reflect latest app changes
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2264 Added an paragraph about the commission adopted rules to FAQ #vac_booster_jj
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2261 FAQ Collapse
  src/assets/scss/_accordion.scss
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, technical-issue

#2268 Write out Vaccination Certificate in full for FAQ section title
  src/data/faq.json
Labels: faq
