Repository corona-warn-app/cwa-website, pull requests merged in 2022-04, with the labels that each got.

#2651 Bump current iOS version
  gulpfile.js
Labels: documentation

#2659 Change minimum version for dcc reissue to 2.20.3
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2597 FAQ #international_phone_numbers: technical hotline times changed.
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2667 added missing double quote
  src/partials/page-analyse.html
Labels: analysis-page

#2663 Correct link to cwa-documentation branch
  src/data/faq.json
Labels: documentation

#2664 FAQ menu hint changed
  src/assets/scss/_faq.scss
  src/data/faq.json
  src/data/faq_de.json
  src/partials/page-faq-results.html
Labels: faq, technical-issue

#2656 Update check_anchor_links.js for new FAQ
  cypress/integration/check_anchor_links.js
Labels: cypress, technical-issue

#2565 Disable create button on Event QR-Code Page until the qr form changes
  src/assets/js/eventregistration.js
  src/partials/page-eventregistration.html
Labels: qr-code-generator, technical-issue

#2654 use current topic in on-click event listener for section headers
  src/assets/js/app.js
Labels: faq, technical-issue

#2657 /faq/results broken links updates
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, technical-issue

#2680 Correct #keys_matches: GAEN still keeps 14 day's keys
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2682 Create new FAQ #news
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2681 Add FAQ Q&A index redirects
  src/data/faq_redirects.json
Labels: faq, technical-issue

#2679 added redirect for #notification anchor
  src/data/faq_redirects.json
Labels: faq, technical-issue

#2542 Privacy Notice Updates 2.21
  src/assets/documents/cwa-privacy-notice-2.19-de.pdf
  src/assets/documents/cwa-privacy-notice-2.19-en.pdf
  src/assets/documents/cwa-privacy-notice-2.19-tr.pdf
  src/assets/documents/cwa-privacy-notice-de.pdf
  src/assets/documents/cwa-privacy-notice-en.pdf
  src/assets/documents/cwa-privacy-notice-tr.pdf
  src/data/privacy.json
  src/data/privacy_de.json
Labels: documentation, mirrored-to-jira, Fix 2.21

#2696 Fix responsive graphics on dashboard page
  src/assets/js/analyse/chart/options.js
Labels: analysis-page

#2674 Merge FAQ entries `risk_encounter_different_devices` & `dissimilar_indication_of_risk_status` (Addresses #2536)
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: faq

#2698 Make nav-aside bigger
  src/assets/scss/_nav.scss
Labels: faq, technical-issue

#2700 Fix aside scroll in FAQ's results
  src/assets/js/app.js
Labels: faq, technical-issue

#2705 Fix broken list & release version for Ukraine
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.20

#2703 Correct German spelling of Slowenien
  src/data/faq_de.json
Labels: faq

#2706 Remove "Science" from english-texts.json
  src/data/english-texts.json
Labels: analysis-page

#2702 Add soft hyphen to FAQ Hintergrundaktualisierung
  src/data/faq_de.json
Labels: technical-issue

#2707 Added FAQ anchor to url
  src/assets/js/app.js
Labels: faq

#2709 Fix open expanded redirected FAQs
  src/assets/js/app.js
Labels: faq, technical-issue

#2708 Fix accesibility nav-tabs issues
  src/assets/js/app.js
  src/partials/page-accessibility.html
Labels: technical-issue

#2713 Update FAQ #international: Remove paragraph about expansion to other countries
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2716 Remove RAT partner button from main page
  src/data/index.json
  src/data/index_de.json
  src/partials/page-index.html
Labels: documentation, mirrored-to-jira

#2717 Fix dashboard day
  src/assets/js/analyse/index.js
Labels: analysis-page

#2704 Correct FAQs according to family feature in 2.21
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.21

#2720 Add FAQ: #dcc_ri_429
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2721 Fix fullscreen button on dashboard charts
  src/assets/js/analyse/expand.js
Labels: analysis-page, technical-issue

#2719 Fix errors Cypress test suite
  cypress/integration/blog_spec.js
Labels: cypress, technical-issue

#2724 Restore screenshot version text
  src/data/faq_de.json
  src/partials/text-component.html
Labels: screenshots, technical-issue

#2726 Correct DE abbreviations in blogs
  blog/2020-09-11-positive-test-result/index_de.md
  blog/2021-04-21-eventregistration/index_de.md
  blog/2021-06-24 CWA 2.4 Testzertifikat/index_de.md
  blog/2021-10-11-wichtigste-Funktionen/index_de.md
  blog/2021-12-20-cwa-2-15/index_de.md
  blog/2022-01-11-omikron/index_de.md
Labels: blog

#2728 Correct i. d. R. in science blog fix
  blog/2020-09-11-positive-test-result/index_de.md
Labels: science-blog

#2740 Remove QR code width check from eventRegistration.js
  cypress/integration/pages/eventRegistration.js
Labels: qr-code-generator, cypress, technical-issue

#2741 Add "Status proof" to indexed topics
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2738 Add FAQ entry reg. installation on iOS
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2746 Remove links to deleted verification service FAQs in 2.15 blog
  blog/2021-12-20-cwa-2-15/index.md
  blog/2021-12-20-cwa-2-15/index_de.md
Labels: faq, blog

#2743 added npm dev task
  README.md
  gulpfile.js
  package.json
Labels: technical-issue

#2749 Add FAQ redirect from `check_in_qr_warning` to `check_in`
  src/data/faq_redirects.json
Labels: faq, technical-issue

#2758 Rename FAQ entry `val_service_basics`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2755 Fix english imprint
  src/data/imprint.json
Labels: technical-issue

#2759 More precise information reg. check in warning in FAQ entries `check_in_qr_warning_procedure` & `check_in_qr_warning_how` (Addresses #1651)
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2763 count glossary results correctly
  src/assets/js/app.js
Labels: glossary, faq, technical-issue

#2768 Add sitemap to Cypress check_links.js
  cypress/integration/check_links.js
Labels: cypress, technical-issue

#2770 Fix typos in eventregistration End date / time labels
  src/data/eventregistration.json
Labels: qr-code-generator

#2766 Correct sitemap links to 2.20 blog
  src/data/sitemap.json
  src/data/sitemap_de.json
Labels: technical-issue, blog

#2764 Remove DCC ticketing screenshots
  src/assets/screenshots/2-21/de/android/DccTicketingCertificateSelectionFragment_certificates.png
  src/assets/screenshots/2-21/de/android/DccTicketingCertificateSelectionFragment_no_certificates.png
  src/assets/screenshots/2-21/de/android/DccTicketingConsentOneFragment_1.png
  src/assets/screenshots/2-21/de/android/DccTicketingConsentTwoFragment.png
  src/assets/screenshots/2-21/de/android/DccTicketingValidationResultFragment_fail.png
  src/assets/screenshots/2-21/de/android/DccTicketingValidationResultFragment_open.png
  src/assets/screenshots/2-21/de/android/DccTicketingValidationResultFragment_pass.png
  src/assets/screenshots/2-21/de/ios/iPhone 13-screenshot_ticket_validation_certificate_selection.png
  src/assets/screenshots/2-21/de/ios/iPhone 13-screenshot_ticket_validation_first_consent_1.png
  src/assets/screenshots/2-21/de/ios/iPhone 13-screenshot_ticket_validation_result_failed.png
  src/assets/screenshots/2-21/de/ios/iPhone 13-screenshot_ticket_validation_result_passed.png
  src/assets/screenshots/2-21/de/ios/iPhone 13-screenshot_ticket_validation_result_unknown.png
  src/assets/screenshots/2-21/de/ios/iPhone 13-screenshot_ticket_validation_second_consent_1.png
  src/assets/screenshots/2-21/en/android/DccTicketingCertificateSelectionFragment_certificates.png
  src/assets/screenshots/2-21/en/android/DccTicketingCertificateSelectionFragment_no_certificates.png
  src/assets/screenshots/2-21/en/android/DccTicketingConsentOneFragment_1.png
  src/assets/screenshots/2-21/en/android/DccTicketingConsentTwoFragment.png
  src/assets/screenshots/2-21/en/android/DccTicketingValidationResultFragment_fail.png
  src/assets/screenshots/2-21/en/android/DccTicketingValidationResultFragment_open.png
  src/assets/screenshots/2-21/en/android/DccTicketingValidationResultFragment_pass.png
  src/assets/screenshots/2-21/en/ios/iPhone 13-screenshot_ticket_validation_certificate_selection.png
  src/assets/screenshots/2-21/en/ios/iPhone 13-screenshot_ticket_validation_first_consent_1.png
  src/assets/screenshots/2-21/en/ios/iPhone 13-screenshot_ticket_validation_result_failed.png
  src/assets/screenshots/2-21/en/ios/iPhone 13-screenshot_ticket_validation_result_passed.png
  src/assets/screenshots/2-21/en/ios/iPhone 13-screenshot_ticket_validation_result_unknown.png
  src/assets/screenshots/2-21/en/ios/iPhone 13-screenshot_ticket_validation_second_consent_1.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: screenshots

#2784 Use standard name "Corona-Warn-App" in EN blogs
  blog/2020-12-15-iOS12x-statement/index.md
  blog/2022-03-16-cwa-2-19/index.md
  blog/2022-03-30-cwa-2-20/index.md
  blog/2022-04-19-cwa-2-21/index.md
Labels: blog

#2786 Some fixes for FAQ
  src/assets/js/app.js
  src/partials/page-faq.html
Labels: faq

#2791 Update faq_redirects.json
  src/data/faq_redirects.json
Labels: faq, technical-issue

#2793 Sitemap: Add 2.20 to screenshots archive
  src/data/sitemap.json
  src/data/sitemap_de.json
Labels: documentation, screenshots, Fix 2.20

#2794 fix scroll to section-title in FAQ's results page
  src/assets/js/app.js
Labels: faq, technical-issue

#2795 Fix redirects FAQ page
  src/assets/js/app.js
Labels: faq, technical-issue

#2798 Fix aside when have a search on mobile
  src/assets/js/app.js
Labels: faq, technical-issue

#2799 Remove FAQ #vac_cert_eu
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: faq

#2800 Bump current iOS app version
  gulpfile.js
Labels: documentation

#2802 Fix of various bugs of FAQ
  src/assets/js/app.js
Labels: faq, technical-issue

#2805 Fix issue on click FAQ to reset a search
  src/assets/js/app.js
Labels: faq, technical-issue

#2803 Release 2.22: Edit FAQ #rat_profile & #rat_profile_create_edit_delete
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.22

#2808 Adapt col width depend of the breakpoint in FAQ home
  src/partials/page-faq.html
Labels: faq, technical-issue

#2809 Edit Data Privacy and Safety text
  src/data/index.json
  src/data/index_de.json
Labels: documentation, mirrored-to-jira

#2810 Correct screenshot text typos
  src/data/screenshots-archive-2-20.json
  src/data/screenshots.json
Labels: screenshots

#2814 Mention family rapid test profiles in glossary
  src/data/faq.json
  src/data/faq_de.json
Labels: glossary, Fix 2.22

#2776 R 2.22 - Update gulpfile.js
  gulpfile.js
Labels: documentation, Fix 2.22

#2824 Add FAQ #vac_status
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq
