Repository corona-warn-app/cwa-website, pull requests merged in 2022-02, with the labels that each got.

#2373 Add FAQ about already registered certificates
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: faq

#2391 Correct typo in DSFA list of annexes
  src/data/index.json
  src/data/index_de.json
Labels: documentation

#2395 Update FAQ cert_recycle_bin: Mention new display of permanent deletion
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.17

#2402 New FAQ #vc_2of1
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.17

#2403 Fix/FAQ vc_2of1
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.17

#2282 Migrate cwa-website to use node16
  .github/workflows/build.yml
  .github/workflows/deploy-master.yml
  README.md
  package-lock.json
Labels: mirrored-to-jira, technical-issue

#2408 update faq fachliche gültigkeit
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2407 Update info sharing behaviour
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: documentation, analysis-page

#2413 Bump Android app version
  gulpfile.js
Labels: documentation

#2415 Replace "Diagnostic keys" with "Diagnosis keys" (English FAQ)
  src/data/faq.json
Labels: documentation, faq

#2405 Replace "Risikobegegnung(en)" with "Risiko-Begegnung(en)" (German FAQ)
  src/data/faq_de.json
Labels: faq

#2416 Convert links from cwa-website to cwa-documentation from master to main
  README.md
  blog/2020-12-17-risk-calculation-enf-2-0/index.md
  blog/2020-12-17-risk-calculation-enf-2-0/index_de.md
  blog/2021-04-21-eventregistration/index.md
  blog/2021-04-21-eventregistration/index_de.md
  blog/2021-04-23-qr-code-generator-website/index.md
  blog/2021-04-23-qr-code-generator-website/index_de.md
  docs/WRITE_BLOG_POSTS.md
  science/2021-10-15-science-blog-4/index.md
  science/2021-10-15-science-blog-4/index_de.md
  src/data/community.json
  src/data/community_de.json
  src/data/faq.json
  src/data/faq_de.json
  src/data/index.json
  src/data/index_de.json
Labels: technical-issue

#2410 FAQ recovery certificate valid time update
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2418 FAQ-text adjustments regarding recovery certificate validity
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2419 removal of sentence based on jira ticket EXPOSUREAPP-11721
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2421 Make "encounter_deletition" general for low and increased risk encounters
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2427 Bump current iOS version
  gulpfile.js
Labels: documentation

#2390 Update Analysis Page Title
  blog/2021-10-01-facts-and-figures/index.md
  blog/2021-10-01-facts-and-figures/index_de.md
  blog/2021-10-04-dashboard/index.md
  blog/2021-10-04-dashboard/index_de.md
  src/data/analyse_de.json
  src/data/analyse_en.json
  src/data/global.json
  src/pages/de/analyse/index.html
  src/pages/de/analysis/index.html
  src/pages/en/analyse/index.html
  src/pages/en/analysis/index.html
Labels: analysis-page

#2456 adding ul li items to footer
  src/partials/footer.html
Labels: do-not-merge

#2461 Update FAQ #admission_policy: Split into 5 entries
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.18

#2479 Update screenshot in #android_certificates
  src/assets/screenshots/2-18/de/android/PersonOverviewFragment_two_g_plus_with_badge.png
Labels: screenshots, Fix 2.18

#2482 Add date format to label
  src/data/analyse_de.json
  src/data/analyse_en.json
  src/partials/page-analyse.html
Labels: analysis-page
