Repository corona-warn-app/cwa-website, pull requests merged in 2022-10, with the labels that each got.

#3093 Update eventregistration texts
  src/data/eventregistration.json
  src/data/eventregistration_de.json
Labels: mirrored-to-jira, faq

#3114 FAQ Update: EFGS off-boarding ES Spain
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3116 Fix cypress test (Addresses #3115)
  cypress/fixtures/copy/stringDe.json
  cypress/fixtures/copy/stringEn.json
Labels: cypress, technical-issue

#3117 Dashboard/Analysis page: Change wording to"Pandemieradar
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: analysis-page

#3119 Fix/screenshots 2.26
  src/data/screenshots.json
  src/data/screenshots_de.json
  src/data/sitemap.json
  src/data/sitemap_de.json
Labels: mirrored-to-jira, screenshots, Fix 2.26

#3122 Correct README typos
  README.md
Labels: bug, documentation

#3123 2.26 Screenshots: Fix incorrectly written date
  src/data/screenshots.json
Labels: screenshots, Fix 2.26

#3127 update gulpfile.js android.latest-os-version to 13
  gulpfile.js
Labels: documentation, mirrored-to-jira

#3124 Fix "This is how the app works best" second bullet point
  src/data/index.json
  src/data/index_de.json
Labels: documentation, mirrored-to-jira

#3125 Update #eu_dcc_export: Export all certificates individually
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3129 Update Science Blog 5: Fix translation issues
  science/2022-03-03-science-blog-5/index.md
  science/2022-03-03-science-blog-5/ppa_estimate_ppa_active_user_estimate_plot_en.png
  science/2022-03-03-science-blog-5/ppa_estimate_ppa_warned_persons_plot_en.png
  science/2022-03-03-science-blog-5/ppa_risk_infection_ct_timeline_pcr_en.png
  science/2022-03-03-science-blog-5/ppa_risk_infection_ct_timeline_rat_en.png
  science/2022-03-03-science-blog-5/ppa_white_plot_en.png
  science/2022-03-03-science-blog-5/test_plot_en.png
  science/2022-03-03-science-blog-5/tsi_active_users_plot_en.png
  science/2022-03-03-science-blog-5/tsi_ad_plot2_en.png
  science/2022-03-03-science-blog-5/tsi_ad_plot_en.png
Labels: science-blog

#3120 Dashboard/Analysis page: Update analyse_en.json: GER -> DE
  src/data/analyse_en.json
Labels: mirrored-to-jira, analysis-page

#3132 Update screenshots: Add 2.26 archive
  src/data/screenshots-archive-2-26.json
  src/data/screenshots-archive-2-26_de.json
  src/pages/de/screenshots-archive/2-26.html
  src/pages/en/screenshots-archive/2-26.html
Labels: screenshots, Fix 2.26

#3134 FAQ EFGS: update FI and NO
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3136 Fix/science blog 5 translation / figures
  science/2022-03-03-science-blog-5/ppa_estimate_ppa_active_user_estimate_plot_de.png
  science/2022-03-03-science-blog-5/ppa_estimate_ppa_warned_persons_plot_de.png
  science/2022-03-03-science-blog-5/ppa_risk_infection_ct_timeline_pcr_de.png
  science/2022-03-03-science-blog-5/ppa_risk_infection_ct_timeline_rat_de.png
  science/2022-03-03-science-blog-5/ppa_white_plot_de.png
Labels: science-blog

#3139 Dashboard: change letter: Pandemic radar (DE) -> Pandemic Radar (DE)
  src/data/analyse_en.json
Labels: mirrored-to-jira, analysis-page

#3140 Update the section "What is a booster vaccination..." (vac_booster_basics) in the faq
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, mirrored-to-jira, faq

#3142 Update FAQ #vac_booster_basics: Follow external link conventions
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3138 Fix FAQ Link #vac_cert_booster
  src/data/faq_redirects.json
Labels: mirrored-to-jira, do-not-merge, faq, technical-issue

#3143 Update Dashboard: Change order on statistics
  src/assets/js/analyse/chart/config.js
Labels: mirrored-to-jira, analysis-page

#3141 Add link to BZgA online tool to FAQ "vac_status"
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3135 Update science blog dates
  science/2021-06-15-science-blog-1/index.md
  science/2021-07-08-science-blog-2/index.md
  science/2021-08-02-science-blog-3/index.md
  science/2021-08-02-science-blog-3/index_de.md
  science/2021-10-15-science-blog-4/index.md
  science/2022-03-03-science-blog-5/index.md
Labels: mirrored-to-jira, science-blog

#3147 Update Cypress check for #vac_cert_booster redirection
  cypress/fixtures/appToWebLinks.json
Labels: cypress, technical-issue

#3148 Put nbsp into z.B. abbreviation for FAQ #mask_rules
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3144 FAQ EFGS: update LT
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3153 Make faq test less senstive for statistics entry
  cypress/fixtures/copy/stringDe.json
  cypress/fixtures/copy/stringEn.json
Labels: mirrored-to-jira, cypress, technical-issue

#3155 Refactor faqRedirect test
  cypress/fixtures/appToWebLinks.json
  cypress/integration/app_to_web.js
Labels: cypress, technical-issue

#3156 Update faq_vac status
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3154 Update appToWebLinks.json for 2.28 release
  cypress/fixtures/appToWebLinks.json
Labels: cypress, technical-issue, Fix 2.28

#3161 Update build workflow actions to v3
  .github/workflows/build.yml
Labels: mirrored-to-jira, technical-issue, workflow

#3163 Update deploy workflow actions to v3
  .github/workflows/deploy-master.yml
Labels: mirrored-to-jira, technical-issue, workflow

#3157 Multiple issues for links in FAQ #mask_rules
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3159 Cypress test for correct FAQ link attributes
  cypress/integration/faq_link_attr.js
Labels: mirrored-to-jira, cypress, technical-issue

#3145 Privacy Notice Updates 2.28
  src/assets/documents/cwa-privacy-notice-2.21-de.pdf
  src/assets/documents/cwa-privacy-notice-2.21-en.pdf
  src/assets/documents/cwa-privacy-notice-2.21-tr.pdf
  src/data/privacy.json
  src/data/privacy_de.json
Labels: documentation, mirrored-to-jira, Fix 2.28

#3152 add the pandemieradar to faq and faq_de in-app statistics 2.28
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.28

#3167 Modify .gitignore for Cypress
  .gitignore
Labels: enhancement, mirrored-to-jira, technical-issue

#3171 Delete downloads.html
  cypress/downloads/downloads.html
Labels: cypress, technical-issue

#3177 Update reference to Node.js 16 (Maintenance)
  README.md
Labels: documentation

#3178 [FAQ] move text from #vac_status to #vac_children
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3180 Replaces node-sass with sass
  gulpfile.js
  package-lock.json
  package.json
  src/assets/scss/_accordion.scss
  src/assets/scss/_footer.scss
  src/assets/scss/_functions.scss
  src/assets/scss/_variables.scss
  src/assets/scss/forms/_form-check.scss
  src/assets/scss/forms/_form-range.scss
  src/assets/scss/forms/_layout.scss
  src/assets/scss/helpers/_embed.scss
  src/assets/scss/mixins/_grid.scss
  src/assets/scss/vendor/_rfs.scss
Labels: mirrored-to-jira, technical-issue

#3182 Update blog: Remove outdated link
  blog/2021-02-23-umfrage-uni-wuppertal/index.md
  blog/2021-02-23-umfrage-uni-wuppertal/index_de.md
Labels: mirrored-to-jira, blog

#3185 Add emergentalliance.org to check links exceptions
  cypress/integration/hybrid/check_links.js
Labels: cypress, technical-issue

#3188 Bump current Android app version
  gulpfile.mjs
Labels: documentation, Fix 2.28

#3189 Migrate cwa-website to Node.js 18 (Active LTS)
  .github/workflows/build.yml
  .github/workflows/deploy-master.yml
  README.md
Labels: mirrored-to-jira, technical-issue

#3191 Migrate npm yargs package to v17.6.0 (latest version)
  gulpfile.mjs
  package-lock.json
  package.json
Labels: mirrored-to-jira, technical-issue

#3195 Fix experimental json import in gulpfile.mjs
  gulpfile.mjs
Labels: technical-issue

#3196 Uninstall unneeded gulp plugins (gulp-load-plugins and gulp-uglify)
  package-lock.json
  package.json
Labels: mirrored-to-jira, technical-issue

#3197 Migrate to Cypress 10.11.0
  .github/workflows/cypress-test-prod.yml
  README.md
  cypress.config.js
  cypress.json
  cypress/e2e/app_to_web.cy.js
  cypress/e2e/applink.cy.js
  cypress/e2e/blog.cy.js
  cypress/e2e/check_anchor_links.cy.js
  cypress/e2e/check_videos.cy.js
  cypress/e2e/eventRegistration.cy.js
  cypress/e2e/faq.cy.js
  cypress/e2e/faq_link_attr.cy.js
  cypress/e2e/hotline.cy.js
  cypress/e2e/hybrid/check_links.cy.js
  cypress/e2e/mime.cy.js
  cypress/support/e2e.js
  package-lock.json
  package.json
Labels: mirrored-to-jira, cypress, technical-issue
