Repository corona-warn-app/cwa-website, pull requests merged in 2022-01, with the labels that each got.

#2270 Bump copyright year in footer
  src/data/global.json
Labels: documentation

#2274 Paragraph validation FAQ
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, validation-service

#2269 Bump copyright year in README.md
  README.md
Labels: documentation

#2265 Fixed Update/Aktuell headline across the whole FAQ
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2275 Add non-breaking spaces to German abbreviations (FAQ)
  src/data/faq_de.json
Labels: faq

#2277 Fix eventRegistration cypress test
  cypress/integration/pages/eventRegistration.js
Labels: qr-code-generator, cypress, technical-issue

#2281 Update instructions to delete a Rapid Test Profile
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2285 Fix typo in FAQ change
  src/data/faq_de.json
Labels: faq

#2288 Minor corrections to `rat_profile_create_edit_delete`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2290 Fix analysis tag bug
  src/assets/js/analyse/chart/options.js
Labels: analysis-page, technical-issue

#2284 Add social media icons and community section
  THIRD-PARTY-NOTICES
  src/assets/scss/_footer.scss
  src/assets/scss/_header.scss
  src/assets/scss/_variables.scss
  src/data/community.json
  src/data/community_de.json
  src/data/global.json
  src/partials/footer.html
  src/partials/navlist-item.html
  src/partials/page-community.html
Labels: documentation, mirrored-to-jira

#2292 updated analysis json files
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: documentation, analysis-page

#2296 Analysis page: Fix titles in graphs
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: bug, analysis-page

#2297 Hanna hei patch 1
  blog/2021-12-20-cwa-2-15/index.md
  blog/2021-12-20-cwa-2-15/index_de.md
Labels: blog

#2299 Update index_de.md
  blog/2021-12-20-cwa-2-15/index_de.md
Labels: blog

#2306 Change booster blog link to STIKO recommendations
  blog/2021-11-04-booster-notifications/index_de.md
Labels: blog

#2309 Improve `2022-01-11-omikron` (Addresses #2308)
  blog/2022-01-11-omikron/index.md
  blog/2022-01-11-omikron/index_de.md
Labels: blog

#2317 Harmonize term "Contact Journal" / "Kontakt-Tagebuch" in Blog, FAQ, Glossary and Event Registration
  blog/2020-12-24-cwa-1-10-announcement/index.md
  blog/2020-12-24-cwa-1-10-announcement/index_de.md
  blog/2020-12-28-cwa-1-10-contact-diary/index.md
  blog/2021-03-31-test-integration/index.md
  blog/2021-04-21-eventregistration/index.md
  blog/2021-05-12-cwa-2-2/index.md
  blog/2021-11-22-cwa-2-14/index.md
  src/data/eventregistration.json
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, qr-code-generator, glossary, faq, blog

#2319 Bump current iOS version
  gulpfile.js
Labels: documentation

#2318 Fix Cypress test, change from diary to journal
  cypress/fixtures/copy/stringEn.json
Labels: cypress, technical-issue

#2323 Fix expand functionality
  src/assets/js/analyse/expand.js
Labels: bug, analysis-page, technical-issue

#2322 Fix deactivate legend issue in Analysis
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: bug, analysis-page, technical-issue

#2305 Fix Screenshots 2.15
  src/assets/screenshots/2-15/de/android/high_risk_1.png
  src/assets/screenshots/2-15/de/android/high_risk_2.png
  src/assets/screenshots/2-15/de/android/high_risk_3.png
  src/assets/screenshots/2-15/de/android/high_risk_4.png
  src/assets/screenshots/2-15/de/android/no_risk_1.png
  src/assets/screenshots/2-15/de/android/no_risk_2.png
  src/assets/screenshots/2-15/de/android/no_risk_3.png
  src/assets/screenshots/2-15/de/ios/iPhone 13-onbehalfwarning_tan.png
  src/assets/screenshots/2-15/de/ios/iPhone 13-statistics_at_least_one_vaccination.png
  src/assets/screenshots/2-15/de/ios/iPhone 13-statistics_fully_vaccinated.png
  src/assets/screenshots/2-15/de/ios/iPhone 13-statistics_intensive_care.png
  src/assets/screenshots/2-15/de/ios/iPhone 13-statistics_local_7day_values.png
  src/assets/screenshots/2-15/de/ios/low_risk_1.png
  src/assets/screenshots/2-15/de/ios/low_risk_2.png
  src/assets/screenshots/2-15/de/ios/low_risk_3.png
  src/assets/screenshots/2-15/en/android/high_risk_1.png
  src/assets/screenshots/2-15/en/android/high_risk_2.png
  src/assets/screenshots/2-15/en/android/high_risk_3.png
  src/assets/screenshots/2-15/en/android/high_risk_4.png
  src/assets/screenshots/2-15/en/android/no_risk_1.png
  src/assets/screenshots/2-15/en/android/no_risk_2.png
  src/assets/screenshots/2-15/en/android/no_risk_3.png
  src/assets/screenshots/2-15/en/ios/iPhone 13-statistics_at_least_one_vaccination.png
  src/assets/screenshots/2-15/en/ios/iPhone 13-statistics_fully_vaccinated.png
  src/assets/screenshots/2-15/en/ios/iPhone 13-statistics_intensive_care.png
  src/assets/screenshots/2-15/en/ios/iPhone 13-statistics_local_7day_values.png
  src/assets/screenshots/2-15/en/ios/low_risk_1.png
  src/assets/screenshots/2-15/en/ios/low_risk_2.png
  src/assets/screenshots/2-15/en/ios/low_risk_3.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: bug, screenshots, Fix 2.15

#2324 feature/update-faq-edit-contact-journal
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2313 New FAQ section 'Most asked questions' (clean PR #2177)
  src/assets/img/faq/high_risk_de.png
  src/assets/img/faq/high_risk_en.png
  src/assets/img/faq/high_risk_preview_de.png
  src/assets/img/faq/high_risk_preview_en.png
  src/assets/img/faq/hr_de.png
  src/assets/img/faq/hr_en.png
  src/assets/img/faq/low_risk_de.png
  src/assets/img/faq/low_risk_en.png
  src/assets/img/faq/low_risk_preview_de.png
  src/assets/img/faq/low_risk_preview_en.png
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2295 FAQ Update #international_phone_numbers: Update TAN hotline time #2294
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2326 Hide/show titles depending on search result in FAQ page
  src/assets/js/app.js
  src/assets/scss/_faq.scss
  src/data/faq.json
  src/data/faq_de.json
  src/partials/page-faq.html
Labels: faq, technical-issue

#2327 Fix analysis typo when is not data to show or user deactivate it
  src/assets/js/analyse/chart/options.js
Labels: analysis-page

#2302 R 2.16 FAQ - update #root_detection_android
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.16

#2329 Add FAQ: admission_policy
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.16

#2336 Revert fix expand functionality
  src/assets/js/analyse/expand.js
Labels: analysis-page, technical-issue

#2339 feature/update-faq-nutshell
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2340 Reinsert fix expand functionality
  src/assets/js/analyse/expand.js
Labels: analysis-page, technical-issue

#2333 Add link to blog to `mutation` FAQ entry (Addresses #2332)
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, blog

#2342 pr fix
  src/assets/img/faq/ansteckungsrisiko_minimieren.png
  src/assets/img/faq/ansteckungsrisiko_minimieren_en.png
  src/assets/img/faq/ansteckungsrisiko_minimieren_en_preview.png
  src/assets/img/faq/ansteckungsrisiko_minimieren_preview.png
Labels: bug, faq

#2346 Update expand/collapse functionality
  src/assets/js/app.js
Labels: faq, technical-issue

#2347 Make link in 2.16 blog to 2.4 blog relative
  blog/2022-01-17-cwa-2-16/index.md
  blog/2022-01-17-cwa-2-16/index_de.md
Labels: technical-issue, blog

#2350 Fix graph in vertical screens
  src/assets/js/analyse/expand.js
Labels: analysis-page, technical-issue

#2356 Bump Android app version
  gulpfile.js
Labels: documentation, Fix 2.16

#2354 fix typo: daraufhin
  blog/2022-01-17-cwa-2-16/index_de.md
Labels: blog

#2351 Update FAQ admission_policy: Fix typo
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2357 Change "they" to "you" in #admission_policy (EN)
  src/data/faq.json
Labels: faq

#2348 Align text in`vac_cert_red_warning` to in-app text
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2359 Change 2.16 EN blog timestamp from "Uhr" to "am"
  blog/2022-01-17-cwa-2-16/index.md
Labels: blog, Fix 2.16

#2360 Fix responsive graph in Analysis
  src/assets/js/analyse/expand.js
  src/assets/scss/_analyse.scss
Labels: analysis-page, technical-issue

#2361 Move important information to the top of `admission_policy`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2365 Typo corrections in 2022-01-21 blog
  blog/2022-01-21-cwa-uhrzeit-rote-kachel/index.md
  blog/2022-01-21-cwa-uhrzeit-rote-kachel/index_de.md
Labels: blog

#2364 Add box to community page
  src/data/community.json
  src/data/community_de.json
  src/partials/page-community.html
Labels: documentation

#2367 Update README to Node.js 14.18.3
  README.md
Labels: documentation

#2368 Remove wrong information reg. TAN hotline
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, faq

#2370 Add ":" to `international_phone_numbers`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2374 Update FAQ rat_how_long_valid: Fix typo
  src/data/faq_de.json
Labels: faq

#2375 Fix responsive mobile breakpoint graphs in Analysis
  src/assets/js/analyse/fullscreen.js
Labels: analysis-page, technical-issue

#2376 Remove line from FAQ entry `dcc_no_rules`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2372 updating dependencies
  package-lock.json
  package.json
Labels: technical-issue

#2378 Bump current iOS version
  gulpfile.js
Labels: documentation

#2383 Revert "Align text in`vac_cert_red_warning` to in-app text"
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2389 Update to current risk calculation document
  src/data/faq.json
  src/data/faq_de.json
Labels: documentation
