Repository corona-warn-app/cwa-website, pull requests merged in 2022-07, with the labels that each got.

#2991 Update increased risk cards
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_1.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_2.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_3.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_4.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_5.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_6.png
  src/assets/screenshots/2-24/de/ios/high3de.png
  src/assets/screenshots/2-24/de/ios/high4de.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_1.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_2.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_3.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_4.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_5.png
  src/data/screenshots_de.json
Labels: screenshots

#2985 Update screenshots #android_check_validity_certificate
  src/assets/screenshots/2-24/de/android/check_validity1.png
  src/assets/screenshots/2-24/de/android/check_validity2.png
  src/assets/screenshots/2-24/de/android/check_validity3.png
  src/assets/screenshots/2-24/de/android/check_validity4.png
  src/assets/screenshots/2-24/de/android/check_validity5.png
  src/assets/screenshots/2-24/de/android/check_validity6.png
  src/assets/screenshots/2-24/en/android/check_validity1.png
  src/assets/screenshots/2-24/en/android/check_validity2.png
  src/assets/screenshots/2-24/en/android/check_validity3.png
  src/assets/screenshots/2-24/en/android/check_validity4.png
  src/assets/screenshots/2-24/en/android/check_validity5.png
  src/assets/screenshots/2-24/en/android/check_validity6.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: screenshots

#2996 Update FAQ #test_result_issues: Outdated screenshots, remove scrollbars
  src/assets/img/faq/schnelltestportal_issue_fig1.png
  src/assets/img/faq/schnelltestportal_issue_fig2.png
  src/assets/img/faq/schnelltestportal_issue_fig3.png
  src/data/faq.json
  src/data/faq_de.json
Labels: screenshots, faq

#2997 Update FAQ: Remove unnecessary scrollbars
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, technical-issue

#2998 Update outdated references to TestV
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3001 Update glossary: Add self-test
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, glossary, faq

#3005 Update Android screenshots: Split sections, updated screenshots
  src/assets/screenshots/2-24/de/android/checkin1.png
  src/assets/screenshots/2-24/de/android/checkin2.png
  src/assets/screenshots/2-24/de/android/checkin3.png
  src/assets/screenshots/2-24/de/android/checkin4.png
  src/assets/screenshots/2-24/de/android/checkin5.png
  src/assets/screenshots/2-24/de/android/checkin6.png
  src/assets/screenshots/2-24/de/android/checkin7.png
  src/assets/screenshots/2-24/de/android/checkin8.png
  src/assets/screenshots/2-24/de/android/checkinscan1.png
  src/assets/screenshots/2-24/de/android/checkinscan2.png
  src/assets/screenshots/2-24/de/android/checkinscan3.png
  src/assets/screenshots/2-24/de/android/checkinscan4.png
  src/assets/screenshots/2-24/de/android/checkinscan5.png
  src/assets/screenshots/2-24/de/android/checkinscan6.png
  src/assets/screenshots/2-24/en/android/checkin1.png
  src/assets/screenshots/2-24/en/android/checkin2.png
  src/assets/screenshots/2-24/en/android/checkin3.png
  src/assets/screenshots/2-24/en/android/checkin4.png
  src/assets/screenshots/2-24/en/android/checkin5.png
  src/assets/screenshots/2-24/en/android/checkin6.png
  src/assets/screenshots/2-24/en/android/checkin7.png
  src/assets/screenshots/2-24/en/android/checkin8.png
  src/assets/screenshots/2-24/en/android/checkinscan1.png
  src/assets/screenshots/2-24/en/android/checkinscan2.png
  src/assets/screenshots/2-24/en/android/checkinscan3.png
  src/assets/screenshots/2-24/en/android/checkinscan4.png
  src/assets/screenshots/2-24/en/android/checkinscan5.png
  src/assets/screenshots/2-24/en/android/checkinscan6.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: mirrored-to-jira, screenshots

#3006 Bump app versions
  gulpfile.js
Labels: documentation

#3004 Update Cypress test app_to_web.js
  cypress/fixtures/appToWebLinks.json
  cypress/integration/app_to_web.js
Labels: mirrored-to-jira, technical-issue

#3013 Update red tile screenshots
  src/assets/img/faq/high_risk_de.png
  src/assets/img/faq/high_risk_en.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_1.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_2.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_3.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_4.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_5.png
  src/assets/screenshots/2-24/de/android/TracingDetailsFragment_tracing_increased_6.png
  src/assets/screenshots/2-24/de/ios/high2de.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_2.png
  src/assets/screenshots/2-24/en/android/TracingDetailsFragment_tracing_increased_3.png
  src/assets/screenshots/2-24/en/ios/high2en.png
Labels: mirrored-to-jira, screenshots, faq

#3007 Update screenshots: Invalid certificates (Android) + texts
  src/assets/screenshots/2-24/de/android/VaccinationDetailsFragment_expired.png
  src/assets/screenshots/2-24/de/android/VaccinationDetailsFragment_invalid.png
  src/assets/screenshots/2-24/en/android/VaccinationDetailsFragment_expired.png
  src/assets/screenshots/2-24/en/android/VaccinationDetailsFragment_invalid.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: mirrored-to-jira, screenshots

#3015 Update FAQ #quarantine_measures: Replace outdated info
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3014 Update FAQ #rat_red_card_which_test & #red_card_how_to_test
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v2-kl-1.PNG
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3018 Update FAQ #check_in_qr_warning_share
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3027 Update FAQ #vac_status: Add link to STIKO
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3029 Extend Cypress app_to_web.js test spec
  cypress/fixtures/appToWebLinks.json
  cypress/integration/app_to_web.js
Labels: mirrored-to-jira, cypress, technical-issue

#3030 Update links: Open all FAQ links in a new tab
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, glossary, faq, technical-issue

#3032 Update FAQ: Ensure security on external links
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3041 Correct soft assertions message format
  cypress/support/index.js
Labels: cypress, technical-issue

#3038 Add searchable_blogentries*.json to .gitignore
  src/data/.gitignore
Labels: mirrored-to-jira, technical-issue

#2757 Update FAQ reg. luca stand-by (Addresses #2751)
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: mirrored-to-jira, faq

#3044 Correct sitemap priority calculation
  gulpfile.js
Labels: mirrored-to-jira, technical-issue

#3042 Bump current iOS version
  gulpfile.js
Labels: documentation

#3045 Release 2.25: Update #in_a_nutshell risk cards
  src/assets/img/faq/high_risk_de.png
  src/assets/img/faq/high_risk_en.png
  src/assets/img/faq/high_risk_preview_de.png
  src/assets/img/faq/high_risk_preview_en.png
  src/assets/img/faq/low_risk_de.png
  src/assets/img/faq/low_risk_en.png
  src/assets/img/faq/low_risk_preview_de.png
  src/assets/img/faq/low_risk_preview_en.png
Labels: screenshots, faq, Fix 2.25

#3050 Fix typo in Science 5 Table of Contents (DE)
  science/2022-03-03-science-blog-5/index_de.md
Labels: documentation, science-blog

#3049 Consolidate RAT poster and preview to one version
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_kl-1.png
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_kl.pdf
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v2-kl-1.PNG
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v2-kl.pdf
  src/data/faq.json
  src/data/faq_de.json
Labels: documentation, mirrored-to-jira, faq

#2967 Extends Cypress Test to the FAQs page
  cypress/fixtures/copy/stringDe.json
  cypress/fixtures/copy/stringEn.json
  cypress/fixtures/selectors/sel.json
  cypress/integration/faq.js
Labels: mirrored-to-jira, cypress, technical-issue

#3047 Remove references to RKI KPI archive
  blog/2021-08-05-explain-statistics-tiles/index.md
  blog/2021-08-05-explain-statistics-tiles/index_de.md
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, blog

#3053 Correct STIKO typo (Impfkommission)
  src/data/faq_de.json
Labels: faq

#3057 Blog 2.25: Fix URL
  blog/2022-07-27-cwa-2-25/index.md
  blog/2022-07-27-cwa-2-25/index_de.md
Labels: blog, Fix 2.25

#3054 Extend Cypress documentation
  README.md
Labels: documentation, mirrored-to-jira, cypress

#3059 Add screenshot for certificate verification
  src/assets/screenshots/2-25/de/android/checkcertificate1.png
  src/assets/screenshots/2-25/de/android/checkcertificate2.png
  src/assets/screenshots/2-25/de/ios/checkcertificate.png
  src/assets/screenshots/2-25/en/android/checkcertificate1.png
  src/assets/screenshots/2-25/en/android/checkcertificate2.png
  src/assets/screenshots/2-25/en/ios/checkcertificate.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: mirrored-to-jira, screenshots, Fix 2.25

#3060 Add FAQ #tan_procedure
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3062 Fix Blog 2.25: Change picture captions
  blog/2022-07-27-cwa-2-25/index.md
  blog/2022-07-27-cwa-2-25/index_de.md
Labels: blog
