Repository corona-warn-app/cwa-website, pull requests merged in 2022-11, with the labels that each got.

#3199 Correct wrong anchor tags in Accessibility
  src/data/accessibility.json
  src/data/accessibility_de.json
Labels: technical-issue

#3201 Correct Cypress message formatting for softAssert in headless mode
  cypress/support/e2e.js
Labels: mirrored-to-jira, cypress

#3099 Add new FAQ entry `rec_cert_where` on how and where to get a certificate of recovery (Addresses #3098)
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3203 Update README.md: Include Rosetta requirement
  README.md
Labels: documentation, mirrored-to-jira, technical-issue

#3205 Add Cypress cache housekeeping instructions to README
  README.md
Labels: documentation

#3179 Add basic immunisation and booster vaccines to glossary
  src/assets/img/faq/vac_booster_basics_de.png
  src/assets/img/faq/vac_booster_basics_en.png
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, glossary

#3207 Properly close link in #vac_cert_invalid (EN)
  src/data/faq.json
Labels: mirrored-to-jira

#3209 Fix FAQ (EN) #test_result_issues bolding of "PCR test" term
  src/data/faq.json
Labels: mirrored-to-jira, faq

#3211 Remove spaces in hotline URIs (EN)
  src/data/global.json
Labels: mirrored-to-jira

#3216 Replace spaces in FAQ hyperlinks
  src/assets/documents/MU_10C_(01_2021)_web.pdf
  src/assets/documents/MU_OEGD_(08_2021)_web.pdf
  src/data/faq.json
  src/data/faq_de.json
Labels: enhancement, faq

#3237 Close unclosed div in FAQs
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, enhancement, faq

#3230 Fix list termination in FAQ error_log
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, faq

#3232 Remove obsolete reference to Berlin § 8a regulation
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3228 Change video alt attribute to aria-label
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, faq

#3248 Update `.browserslistrc`
  .browserslistrc
  package-lock.json
Labels: dependencies

#3250 Removed outdated and duplicated FAQ #multiple_exposure_checks (DE)
  src/data/faq_de.json
Labels: faq

#3226 Reorder screen-reader title for icons in navigation header
  src/partials/navlist-item.html
Labels: bug

#3252 Fix stray link in FAQ #mutation (DE)
  src/data/faq_de.json
Labels: bug, faq

#3254 Fix table tags in #interoperability_countries (DE)
  src/data/faq_de.json
Labels: bug

#3258 Correct wrong br in faq results
  src/partials/page-faq-results.html
Labels: bug, faq

#3259 Remove incorrect br end tags in Blog 2.28
  blog/2022-10-26-cwa-2-28/index.md
  blog/2022-10-26-cwa-2-28/index_de.md
Labels: bug, blog

#3239 Simplify iOS troubleshooting FAQs earlier than 1.5.3
  gulpfile.mjs
  src/data/faq.json
  src/data/faq_de.json
Labels: enhancement, faq
