Repository corona-warn-app/cwa-website, pull requests merged in 2022-05, with the labels that each got.

#2825 FAQ EFGS - DK until 01.04.2022
  src/data/faq.json
  src/data/faq_de.json
Labels: documentation, faq

#2826 added source maps for js/css to production package
  gulpfile.js
Labels: mirrored-to-jira, technical-issue

#2828 Remove function modifying results subheader links
  src/assets/js/app.js
Labels: faq, technical-issue

#2834 FAQ EFGS - EE until 02.05.2022
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2865 Change Android RTP button label to upper case in Blog 2.22 text
  blog/2022-05-04-cwa-2-22/index.md
  blog/2022-05-04-cwa-2-22/index_de.md
Labels: blog

#2864 Remove link to Bluetooth dev docs in #android_location
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2846 Fix infinite loop of FAQ url
  src/assets/js/app.js
Labels: faq, technical-issue

#2860 Add note to README for case-sensitive testing
  README.md
Labels: documentation

#2844 Remove mention about Android counter
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2531 Search function for the blog
  gulpfile.js
  src/assets/js/app.js
  src/data/blog.json
  src/partials/page-blog-index.html
  src/services/blog-processor.js
Labels: mirrored-to-jira, faq, technical-issue, blog

#2872 trying guess mime-type
  .github/workflows/deploy-master.yml
  src/assets/js/app.js
Labels: technical-issue

#2877 s3cmd changes
  .github/workflows/deploy-master.yml
Labels: technical-issue

#2879 s3cmd changes
  .github/workflows/deploy-master.yml
Labels: technical-issue

#2885 Screenshots: Update rat_7 to show actual implementation
  src/assets/screenshots/2-22/de/android/rat_7.png
  src/assets/screenshots/2-22/en/android/rat_7.png
Labels: screenshots, Fix 2.22

#2863 Add Rapid PCR Test information to glossary
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, glossary

#2889 Add notice to RAT-Partner page
  src/data/rat-partner.json
  src/data/rat-partner_de.json
  src/partials/page-rat-partner.html
Labels: documentation

#2890 Add Cypress test for mime types
  cypress/integration/mime.js
Labels: cypress

#2893 Add event log for "Test results provided" dashboard
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: mirrored-to-jira, analysis-page

#2897 Make FAQ links (Google and Apple) more readable
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2898 Bump current iOS version
  gulpfile.js
Labels: documentation

#2899 EN blog no translation - change to "German version only"
  blog/2021-05-11-How-to-Schnelltest-Partner/index.md
  blog/2021-05-11-How-to-Schnelltest-Partner/index_de.md
  blog/2022-01-11-omikron/index.md
  blog/2022-01-21-cwa-uhrzeit-rote-kachel/index.md
Labels: blog

#2901 Update Cypress to 9.6.1
  package-lock.json
  package.json
Labels: cypress

#2904 Insert new FAQ #dcc_replacement_howto
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2908 Minor improvments science blog and dashboard
  science/2021-07-08-science-blog-2/index.md
  science/2021-07-08-science-blog-2/index_de.md
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: analysis-page, science-blog

#2912 Fix fig 5.1 in science blog 2
  science/2021-07-08-science-blog-2/index.md
  science/2021-07-08-science-blog-2/index_de.md
Labels: science-blog

#2917 Fixed glossary article not showing, when opening direct link on mobile devices
  src/assets/js/app.js
  src/partials/page-faq-results.html
Labels: glossary, technical-issue

#2916 Update #glossary_validity: Replace validity time
  src/data/faq.json
  src/data/faq_de.json
Labels: glossary, faq

#2915 Update FAQ #vac_booster_basics: Replace screenshot and change text
  src/assets/img/faq/vac_booster_basics_de.png
  src/assets/img/faq/vac_booster_basics_en.png
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2919 Remove all figure tags from science blogs
  science/2021-06-15-science-blog-1/index.md
  science/2021-06-15-science-blog-1/index_de.md
  science/2021-07-08-science-blog-2/index.md
  science/2021-07-08-science-blog-2/index_de.md
  science/2021-08-02-science-blog-3/index.md
  science/2021-08-02-science-blog-3/index_de.md
  science/2021-10-15-science-blog-4/index.md
  science/2021-10-15-science-blog-4/index_de.md
  science/2022-03-03-science-blog-5/index_de.md
Labels: technical-issue, science-blog

#2918 Update glossary regarding technical validity and reissuance
  src/data/faq.json
  src/data/faq_de.json
Labels: glossary, faq, Fix 2.23

#2921 Clarify entitlement to free corona test (Addresses #2607)
  src/data/faq.json
  src/data/faq_de.json
Labels: faq
