Repository corona-warn-app/cwa-website, pull requests merged in 2022-06, with the labels that each got.

#2454 Fix some screenshot JSON issues
  src/data/screenshots-archive-2-6.json
  src/data/screenshots-archive-2-6_de.json
  src/data/screenshots-archive-2-7_de.json
Labels: screenshots

#2925 added files for 2.23 blog post
  blog/2022-06-01-cwa-2-23/index.md
  blog/2022-06-01-cwa-2-23/index_de.md
  blog/2022-06-01-cwa-2-23/renew-certificate(1).png
  blog/2022-06-01-cwa-2-23/renew-certificate(2).png
  blog/2022-06-01-cwa-2-23/renew-certificate(3).png
  blog/2022-06-01-cwa-2-23/technische-gültigkeit(1).png
  blog/2022-06-01-cwa-2-23/technische-gültigkeit(2).png
  blog/2022-06-01-cwa-2-23/technische-gültigkeit(3).png
Labels: blog, Fix 2.23

#2930 Cypress remove visual comparison and viewport settings in plugins
  cypress.json
  cypress/integration/__image_snapshots__/.gitignore
  cypress/integration/__image_snapshots__/2099-01-01-visual-test-page-0.png
  cypress/plugins/index.js
Labels: cypress, technical-issue

#2932 Rearrange Cypress test directories
  cypress/integration/eventRegistration.js
  cypress/integration/hybrid/check_links.js
Labels: cypress, technical-issue

#2934 Update index.md
  blog/2022-06-01-cwa-2-23/index.md
Labels: blog, Fix 2.23

#2936 Add workflow for Cypress test on production with Chrome
  .github/workflows/cypress-test-prod.yml
Labels: cypress, technical-issue

#2941 Fix FAQ typos DE
  src/data/faq_de.json
Labels: faq

#2940 Fix Blog 2.23: Untranslated screenshots
  blog/2022-06-01-cwa-2-23/renew-certificate(1).png
  blog/2022-06-01-cwa-2-23/renew-certificate(2).png
  blog/2022-06-01-cwa-2-23/technische-gültigkeit(1).png
  blog/2022-06-01-cwa-2-23/technische-gültigkeit(2).png
  blog/2022-06-01-cwa-2-23/technische-gültigkeit(3).png
Labels: blog

#2946 Fix reissuance screenshots: Translate German text + match date and certificates with iOS
  src/assets/screenshots/2-23/de/android/DccReissuanceConsentFragment_1.png
  src/assets/screenshots/2-23/en/android/DccReissuanceConsentFragment_1.png
Labels: screenshots, Fix 2.23

#2935 Add Cypress test app_to_web
  cypress/fixtures/appToWebLinks.json
  cypress/integration/app_to_web.js
  cypress/support/index.js
Labels: mirrored-to-jira, cypress, technical-issue

#2947 Bump current iOS app version
  gulpfile.js
Labels: documentation, Fix 2.23

#2945 Add NO_COLOR for Cypress
  .github/workflows/cypress-test-prod.yml
Labels: cypress, technical-issue

#1085 FAQ - redirect 'battery_optimization_background' to 'no_risk_update'
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: faq

#2948 Update Screenshots "Risk Cards": Add iOS screenshots
  src/assets/screenshots/2-23/de/ios/high0de.png
  src/assets/screenshots/2-23/de/ios/high1de.png
  src/assets/screenshots/2-23/de/ios/high2de.png
  src/assets/screenshots/2-23/de/ios/high3de.png
  src/assets/screenshots/2-23/de/ios/high4de.png
  src/assets/screenshots/2-23/de/ios/no1de.png
  src/assets/screenshots/2-23/de/ios/no2de.png
  src/assets/screenshots/2-23/de/ios/reissuance0.png
  src/assets/screenshots/2-23/de/ios/reissuance1.png
  src/assets/screenshots/2-23/de/ios/reissuance2.png
  src/assets/screenshots/2-23/de/ios/reissuance3.png
  src/assets/screenshots/2-23/de/ios/reissuance4.png
  src/assets/screenshots/2-23/en/ios/high0en.png
  src/assets/screenshots/2-23/en/ios/high1en.png
  src/assets/screenshots/2-23/en/ios/high2en.png
  src/assets/screenshots/2-23/en/ios/high3en.png
  src/assets/screenshots/2-23/en/ios/no1en.png
  src/assets/screenshots/2-23/en/ios/no2en.png
  src/assets/screenshots/2-23/en/ios/reissuance0.png
  src/assets/screenshots/2-23/en/ios/reissuance1.png
  src/assets/screenshots/2-23/en/ios/reissuance2.png
  src/assets/screenshots/2-23/en/ios/reissuance3.png
  src/assets/screenshots/2-23/en/ios/reissuance4.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: screenshots, Fix 2.23

#2949 Github Workflow (Actions) for scheduled cypress tests
  .github/workflows/build.yml
  .github/workflows/cypress-test-prod.yml
  .github/workflows/deploy-master.yml
  cypress.json
  cypress/fixtures/appToWebLinks.json
  cypress/integration/__image_snapshots__/.gitignore
  cypress/integration/__image_snapshots__/2099-01-01-visual-test-page-0.png
  cypress/integration/app_to_web.js
  cypress/integration/check_videos.js
  cypress/integration/eventRegistration.js
  cypress/integration/hybrid/check_links.js
  cypress/plugins/index.js
  cypress/support/index.js
  src/services/science-blog-processor.js
Labels: enhancement, cypress

#2972 Fix typo
  src/data/faq_de.json
Labels: bug, faq

#2977 Remove bad link in red tile (EN) blog
  blog/2021-12-15-handlungsempfehlung-rote-kachel/index.md
Labels: bug, cypress, blog

#2975 Adjust heading width to avoid overlaps cancel box in Dashboard
  src/assets/scss/_analyse.scss
Labels: bug, mirrored-to-jira, analysis-page, technical-issue

#2984 Update FAQ: Mention end date of free test entitlement
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2960 Add faq anchor #eu_dcc_export_error to Cypress test for release 2.24
  cypress/fixtures/appToWebLinks.json
Labels: cypress, technical-issue, Fix 2.24

#2961 Update FAQ #eu_dcc_export: Export all certificates
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.24

#2982 Update #interoperability_countries: EFGS-Offboarding Malta
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2987 Fix wrong blog link in FAQ
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.24
