Repository corona-warn-app/cwa-website, pull requests merged in 2022-03, with the labels that each got.

#2494 Remove redundant links from FAQ #where_can_i_get_tested
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2497 Add Science Blog 5 (DE)
  science/2022-03-03-science-blog-5/apple_installs_overview_plotly_de.png
  science/2022-03-03-science-blog-5/fig11_de.png
  science/2022-03-03-science-blog-5/fig9_de.png
  science/2022-03-03-science-blog-5/google_estimates_plotly_de.png
  science/2022-03-03-science-blog-5/google_installs_overview_plotly_de.png
  science/2022-03-03-science-blog-5/index.md
  science/2022-03-03-science-blog-5/index_de.md
  science/2022-03-03-science-blog-5/plot_au_estimate_1_estimate_de.png
  science/2022-03-03-science-blog-5/plot_au_estimate_1_rates_de.png
  science/2022-03-03-science-blog-5/plot_au_estimate_1_warnings_infections_de.png
  science/2022-03-03-science-blog-5/ppa_delay_tr_pcr_plot_de.png
  science/2022-03-03-science-blog-5/ppa_estimate_ppa_active_user_estimate_plot_de.png
  science/2022-03-03-science-blog-5/ppa_estimate_ppa_warned_persons_plot_de.png
  science/2022-03-03-science-blog-5/ppa_risk_infection_ct_timeline_pcr_de.png
  science/2022-03-03-science-blog-5/ppa_risk_infection_ct_timeline_rat_de.png
  science/2022-03-03-science-blog-5/ppa_white_plot_de.png
  science/2022-03-03-science-blog-5/test_plot_de.png
  science/2022-03-03-science-blog-5/tsi_active_users_plot_de.png
  science/2022-03-03-science-blog-5/tsi_ad_plot2_de.png
  science/2022-03-03-science-blog-5/tsi_ad_plot_de.png
Labels: science-blog

#2501 Update tables and math
  science/2022-03-03-science-blog-5/index_de.md
Labels: science-blog

#2506 Add missing information to science blog 5
  science/2022-03-03-science-blog-5/index_de.md
Labels: science-blog

#2507 Update (science) blogs: New text and corrected authors
  blog/2021-12-15-handlungsempfehlung-rote-kachel/index_de.md
  blog/2022-01-21-cwa-uhrzeit-rote-kachel/index_de.md
  blog/2022-02-23-cwa-2-18/index_de.md
  science/2021-06-15-science-blog-1/index_de.md
  science/2021-07-08-science-blog-2/index_de.md
  science/2021-08-02-science-blog-3/index_de.md
  science/2021-10-15-science-blog-4/index_de.md
  science/2022-03-03-science-blog-5/index_de.md
Labels: mirrored-to-jira, science-blog

#2491 Change "Recovery certificate(s)" to "Certificate(s) of recovery"
  src/data/faq.json
Labels: faq

#2496 Miscellaneous FAQ typos
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2488 Fix for Issue 'English app download buttons on German page #2431'
  src/assets/img/App_Store_Badge_DE.svg
  src/assets/img/google-play-badge-DE.svg
  src/data/index_de.json
Labels: documentation, mirrored-to-jira

#2489 Fix for Issue 'Missing Focus styles #85'
  src/assets/scss/_section.scss
Labels: technical-issue

#2516 Fix Event-QR-Code-Guide: Remove redundant - from command in step 4
  src/data/event-qr-code-guide.json
Labels: documentation, qr-code-generator

#2508 Add accessibility page
  src/assets/js/app.js
  src/data/accessibility.json
  src/data/accessibility_de.json
  src/data/global.json
  src/pages/de/accessibility/index.html
  src/pages/en/accessibility/index.html
  src/partials/page-accessibility.html
Labels: documentation, mirrored-to-jira, do-not-merge

#2517 Change wording for 2G+ length of time
  src/data/faq.json
Labels: faq

#2520 Update Terms of use: Newly formatted documents for accessibility
  src/assets/documents/cwa-eula-de.pdf
  src/assets/documents/cwa-eula-en.pdf
  src/assets/documents/cwa-eula-tr.pdf
Labels: documentation, mirrored-to-jira

#2485 Bugfix for issue 'Pop-up layout broken on dashboard/analysis page #2458'
  src/partials/page-analyse.html
Labels: analysis-page

#2524 Fix "last updated" in 2.19 privacy notices
  src/data/privacy.json
  src/data/privacy_de.json
Labels: Fix 2.19

#2523 Remove italic effect from science blog text
  src/data/science.json
Labels: science-blog

#2527 Update FAQ #interoperability_countries: Add Cyprus offboarding date
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2528 Update FAQ 2.19 #rat_tan_hotline: Mention rapid PCR tests
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.19

#2530 Bump current iOS version
  gulpfile.js
Labels: documentation

#2529 Add several FAQs about risk encounters / warnings
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2533 Add FAQ #schnelltesttest
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2526 Add FAQ: fault_tolerant_name_handling
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.19

#2534 Add to glossary: Bluetooth-Low-Energy-Technology
  src/data/faq.json
  src/data/faq_de.json
Labels: glossary

#2538 Update 2.19 privacy notices
  src/assets/documents/cwa-privacy-notice-de.pdf
  src/assets/documents/cwa-privacy-notice-en.pdf
  src/assets/documents/cwa-privacy-notice-tr.pdf
Labels: documentation, Fix 2.19

#2519 Update FAQ #interoperability_countries: Add Poland offboarding date
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2548 Change FAQ root detection wording
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2550 Correct grammar for DE accessibility statement
  src/data/accessibility_de.json
Labels: documentation

#2558 Update links to new PEI RAT document
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2556 Correct FAQ link to 2.19 blog
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#2553 Remove box in accessibility statement
  src/assets/scss/_nav.scss
Labels: technical-issue

#2549 blog 5 fig fix
  science/2022-03-03-science-blog-5/index_de.md
Labels: science-blog

#2532 FAQ: Convert icon to button, set aria-expanded
  src/assets/js/app.js
  src/assets/scss/_accordion.scss
  src/data/faq.json
  src/data/faq_de.json
  src/partials/page-faq.html
Labels: faq

#2554 Add onlinelibrary.wiley.com to allowlist
  cypress/integration/check_links.js
Labels: mirrored-to-jira, cypress, technical-issue

#2564 Bump current Android app version
  gulpfile.js
Labels: documentation

#2434 FAQ page rework
  blog/2020-08-12-ios-update-1-2-1/index.md
  blog/2020-08-12-ios-update-1-2-1/index_de.md
  blog/2020-08-14-play-store-version-1-2-1/index.md
  blog/2020-08-14-play-store-version-1-2-1/index_de.md
  blog/2020-11-11-version-1-6/index.md
  blog/2020-11-11-version-1-6/index_de.md
  blog/2021-11-09-cwa-luca/index.md
  blog/2021-11-09-cwa-luca/index_de.md
  cypress/integration/check_links.js
  gulpfile.js
  src/assets/img/icons/arrow-right-light.svg
  src/assets/img/icons/smartphone.svg
  src/assets/js/app.js
  src/assets/scss/_accordion.scss
  src/assets/scss/_faq.scss
  src/assets/scss/_header.scss
  src/assets/scss/forms/_input-group.scss
  src/data/community.json
  src/data/community_de.json
  src/data/faq.json
  src/data/faq_de.json
  src/data/global.json
  src/data/index.json
  src/data/index_de.json
  src/data/screenshots.json
  src/data/screenshots_de.json
  src/layouts/default.html
  src/pages/de/faq/results/index.html
  src/pages/en/faq/results/index.html
  src/partials/global-nav.html
  src/partials/page-faq-results.html
  src/partials/page-faq.html
  src/partials/page-glossary.html
  src/partials/page-screenshots.html
Labels: faq, technical-issue

#2573 FAQ - Wrong sentence in PDF document linked to from rat_what_if_positive_result
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v3-kl-1.PNG
  src/assets/documents/DE_CWA_RKI-Plakat_Schnelltests_v3-kl.pdf
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2574 Reapply checklinks exception for wiley.com
  cypress/integration/check_links.js
Labels: cypress, technical-issue

#2587 Personal Data FAQ Update
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#2595 R 2.20 FAQ update #rec_cert
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.20

#2600 Increase faq-body max-height
  src/assets/scss/_accordion.scss
Labels: mirrored-to-jira, faq, technical-issue

#2598 Fix section links
  src/data/faq.json
  src/data/faq_de.json
  src/data/faq_redirects.json
Labels: mirrored-to-jira, faq, technical-issue

#2603 technical_correlations_risk_assessment --> risk_assessment
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, technical-issue

#2614 Add /faq/results/ directory to check_links Cypress test
  cypress/integration/check_links.js
Labels: cypress, technical-issue

#2618 Separate clean button from input content
  src/assets/scss/_faq.scss
  src/partials/page-faq-results.html
Labels: mirrored-to-jira, faq, technical-issue

#2606 Replace hide/show func for CSS classes
  src/assets/js/app.js
Labels: mirrored-to-jira, faq, technical-issue

#2616 Reapply fix for PEI RAT doc link
  src/data/faq.json
  src/data/faq_de.json
Labels: bug, glossary

#2615 R 2.20 FAQ update admission_policy
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.20

#2619 Feature/update faq: risk encounter place
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq, Fix 2.20

#2620 R 2.20 update faq risk update 24
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.20

#2627 R 2.20 FAQ - update faq available languages - add Ukrainian
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.20

#2628 R 2.20 FAQ - update faq recovered
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.20

#2630 R 2.20 Feature/faq dcc replacement
  src/data/faq.json
  src/data/faq_de.json
Labels: faq, Fix 2.20

#2633 fix date
  src/data/screenshots.json
Labels: Fix 2.20

#2567 Science Blog 5 plotly fix
  science/2022-03-03-science-blog-5/index_de.md
Labels: technical-issue, science-blog

#2583 include json files while parsing version numbers
  gulpfile.js
Labels: bug, technical-issue
