Repository corona-warn-app/cwa-website, pull requests merged in 2023-04, with the labels that each got.

#3457 Update FAQ #ramp_down_general: Add #ramp_down_info
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3456 fix: apk can be installed locally
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3461 Update Screenshots 3.1 | Fix date format
  src/data/screenshots.json
Labels: screenshots

#3463 Fix Blog 3.2 | Invalid link
  blog/2023-04-19-cwa-3-2/index.md
  blog/2023-04-19-cwa-3-2/index_de.md
Labels: blog

#3464 Update FAQ: Add infobox for test infrastructure shutdown
  src/data/faq.json
  src/data/faq_de.json
  src/data/global.json
  src/partials/header.html
Labels: mirrored-to-jira, faq

#3465 Update FAQ: Remove link to rapid test portal
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3469 Update FAQ #ramp_down_exchange: Remove duplicate word
  src/data/faq_de.json
Labels: faq

#3470 Fix Science-Blog 1: Show statistic & add missing div
  science/2021-06-15-science-blog-1/index.md
  science/2021-06-15-science-blog-1/index_de.md
  src/data/english-texts.json
Labels: mirrored-to-jira, science-blog

#3468 FAQ `ramp_down` improvements
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3473 Update RAT-Partner page: Add information about outdated page
  src/data/rat-partner.json
  src/data/rat-partner_de.json
Labels: documentation, mirrored-to-jira
