Repository corona-warn-app/cwa-website, pull requests merged in 2023-03, with the labels that each got.

#3418 Exclude buergertest.ecocare.center from link test
  cypress/e2e/hybrid/check_links.cy.js
Labels: bug, in review

#3423 Add callouts to FAQ entries for updates
  src/assets/scss/_faq.scss
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3425 Fix incorrect display of articles
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3419 Review & Update the "Ursache 3, API 10" FAQ entry
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3428 Add End of Dev FAQ Topic and Sections Outline
  src/assets/img/icons/info_faq.svg
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3431 Update FAQ & Glossary regarding EFGS deactivation
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3432 Update FAQ #end_of_development: Suppress warnings in build
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, technical-issue

#3434 Update dashboard: Add annotations for Warning without TAN
  src/assets/js/analyse/chart.js
  src/assets/js/analyse/chart/update.js
  src/assets/js/analyse/index.js
  src/assets/scss/_analyse.scss
Labels: mirrored-to-jira, analysis-page

#3437 Update testing dependencies
  package-lock.json
  package.json
Labels: mirrored-to-jira, cypress

#3438 Update dashboard: Add TestV annotation
  src/assets/js/analyse/chart/update.js
Labels: mirrored-to-jira, analysis-page

#3439 Update blog: Add "Read more" button alternative
  src/data/blog.json
  src/services/blog-processor.js
Labels: mirrored-to-jira, blog

#3441 Update blog.json: Change button text
  src/data/blog.json
Labels: mirrored-to-jira, blog

#3436 Update header: Add end of development banner
  src/assets/scss/_header.scss
  src/data/global.json
  src/partials/header.html
Labels: mirrored-to-jira

#3435 Update FAQ: Add end of development entries
  src/assets/img/faq/ramp_down_exchange_Android_1_DE.png
  src/assets/img/faq/ramp_down_exchange_Android_1_EN.png
  src/assets/img/faq/ramp_down_exchange_Android_2_DE.png
  src/assets/img/faq/ramp_down_exchange_Android_2_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_1_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_1_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_2_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_2_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_3_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_3_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_4_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_4_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_5_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_5_EN.png
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3444 Update website: Add info about end of development
  src/assets/img/faq/ramp_down_exchange_Android_1_DE.png
  src/assets/img/faq/ramp_down_exchange_Android_1_EN.png
  src/assets/img/faq/ramp_down_exchange_Android_2_DE.png
  src/assets/img/faq/ramp_down_exchange_Android_2_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_1_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_1_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_2_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_2_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_3_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_3_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_4_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_4_EN.png
  src/assets/img/faq/ramp_down_exchange_iPhone_5_DE.png
  src/assets/img/faq/ramp_down_exchange_iPhone_5_EN.png
  src/assets/scss/_header.scss
  src/data/faq.json
  src/data/faq_de.json
  src/data/global.json
  src/partials/header.html
Labels: faq

#3447 Add #ramp_down link check to Cypress tests
  cypress/fixtures/appToWebLinks.json
Labels: cypress, technical-issue

#3452 Update FAQ #ramp_down_stores: Remove second sentence
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3453 Update dashboard: Add information about annotations
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: mirrored-to-jira, analysis-page

#3455 Update #ramp_down_apk: Small text and title changes
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3454 Update FAQ: Add note about previous free test entitlement
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3440 Update privacy statement: Change president
  src/data/privacy.json
  src/data/privacy_de.json
Labels: documentation, mirrored-to-jira
