Repository corona-warn-app/cwa-website, pull requests merged in 2023-05, with the labels that each got.

#3474 Update FAQ: Add infobox for reduced functionality
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3482 Blog May 2, 2023
  blog/2023-05-02-funktionsreduzierung/index.md
  blog/2023-05-02-funktionsreduzierung/index_de.md
  src/data/sitemap.json
  src/data/sitemap_de.json
Labels: documentation, mirrored-to-jira, blog

#3487 disable faq_link_attr test in CI
  .github/workflows/build-and-test.yml
  .github/workflows/cypress-test-prod.yml
Labels: mirrored-to-jira, cypress, technical-issue, workflow

#3486 Add information to screenshots page
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: documentation, mirrored-to-jira, screenshots

#3492 Event QR Code pages: Explanation about outdated page info in blue box
  src/data/event-qr-code-guide.json
  src/data/event-qr-code-guide_de.json
  src/data/eventregistration.json
  src/data/eventregistration_de.json
  src/partials/page-event-qr-code-guide.html
  src/partials/page-eventregistration.html
Labels: documentation, mirrored-to-jira, qr-code-generator

#3494 Correct test infrastructure shut down date in FAQ articles: 19 --> April 21, 2023
  src/data/faq.json
  src/data/faq_de.json
  src/data/rat-partner.json
  src/data/rat-partner_de.json
Labels: documentation, mirrored-to-jira, faq

#3491 Update dashboard: Add annotation for test infrastructure shutdown
  src/assets/js/analyse/chart/update.js
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: mirrored-to-jira, analysis-page

#3446 Update dashboard: Use static files
  .gitignore
  gulpfile.mjs
  src/assets/dashboard/cwa_all_data.zip
  src/assets/dashboard/cwa_downloads_data.zip
  src/assets/dashboard/cwa_ppa_warnings_data.zip
  src/assets/dashboard/cwa_sharing_data.zip
  src/assets/dashboard/test_results_data.zip
  src/assets/js/analyse/data.js
  src/assets/js/analyse/date.js
  src/assets/js/analyse/picker.js
  src/data/analyse-backup.json
  src/data/analyse-data.json
  src/data/analyse.json
  src/data/analyse_de.json
  src/data/analyse_en.json
  src/partials/page-analyse.html
Labels: mirrored-to-jira, analysis-page, technical-issue

#3496 Update gulpfile.mjs - Bump iOS version 3.2.1
  gulpfile.mjs
Labels: documentation

#3490 Fix failing cypress test regarding faq-links and enable logging
  .github/workflows/build-and-test.yml
  .github/workflows/cypress-test-prod.yml
  cypress/e2e/faq_link_attr.cy.js
  cypress/plugins/index.js
Labels: mirrored-to-jira, cypress, technical-issue

#3498 Update info banner
  src/data/global.json
Labels: documentation

#3495 Update gulpfile.mjs: Bump iOS version 3.2.2
  gulpfile.mjs
Labels: documentation

#3518 Feature/deployment
  .github/workflows/deploy-master.yml
Labels: mirrored-to-jira, technical-issue

#3516 Complete migration of Cypress plugins migration to v12
  cypress.config.js
  cypress/plugins/index.js
Labels: cypress, technical-issue

#3520 Fix science page/date: end of dev 31. Mai instead of 1. June
  src/data/science.json
Labels: documentation, science-blog

#3513 Update docs reg. SAP offboarding
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  THIRD-PARTY-NOTICES
Labels: documentation, mirrored-to-jira

#3511 Clarify e-mail-address process
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3521 Change app removal date in FAQ entry `ramp_down_stores`
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3519 Community page: blue box
  src/data/community.json
  src/data/community_de.json
  src/partials/page-community.html
Labels: documentation, mirrored-to-jira
