Repository corona-warn-app/cwa-website, pull requests merged in 2023-02, with the labels that each got.

#3365 Update gulpfile.mjs
  gulpfile.mjs
Labels: documentation

#3367 Update screenshots "Test Registration & Key Sharing": Add "Thank you" screen & match Android and iOS
  src/assets/screenshots/3-0/de/android/SubmissionDoneFragment.png
  src/assets/screenshots/3-0/de/android/register-test.png
  src/assets/screenshots/3-0/de/ios/pcr-warn-thank-you.png
  src/assets/screenshots/3-0/en/android/SubmissionDoneFragment.png
  src/assets/screenshots/3-0/en/android/register-test.png
  src/assets/screenshots/3-0/en/ios/pcr-warn-thank-you.png
  src/data/screenshots.json
  src/data/screenshots_de.json
Labels: mirrored-to-jira, screenshots

#3368 Update english-texts.json | Remove "Science" and "Science-Blog"
  src/data/english-texts.json
Labels: mirrored-to-jira, technical-issue

#3370 Update science blogs: Improve update: text
  science/2021-06-15-science-blog-1/index.md
  science/2021-07-08-science-blog-2/index.md
  science/2021-08-02-science-blog-3/index.md
  science/2021-10-15-science-blog-4/index.md
  science/2022-03-03-science-blog-5/index.md
Labels: mirrored-to-jira, science-blog

#3371 Update FAQ #where_can_i_get_tested: Improve mobile display
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3379 Update Dashboard Info: Add "Total", Text Consistency
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: analysis-page

#3380 Update packages | Remove warnings
  package-lock.json
Labels: mirrored-to-jira, technical-issue

#3382 Permanent fix for broken back-link rendering on science-blog entries
  src/data/english-texts.json
  src/partials/button-back-component.html
Labels: mirrored-to-jira, technical-issue

#3386 Solve issue url "[ 'http://localhost:8000' ]" is responding with HTTP status code NaN
  package-lock.json
  package.json
Labels: mirrored-to-jira, technical-issue

#3388 Update blog | Edit links in "Other topics"
  src/data/blog.json
Labels: mirrored-to-jira, blog

#3390 Update #interoperability_countries: Add EFGS leave dates
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3392 Update #interoperability_countries: Add leave date for Croatia and Ireland
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3393 Update dashboard: Move fallback file
  gulpfile.mjs
  src/data/analyse.json
Labels: mirrored-to-jira, analysis-page, technical-issue

#3394 Check only main section for blog sub-entries
  cypress/e2e/hybrid/check_links.cy.js
Labels: mirrored-to-jira, cypress, technical-issue

#3396 Update link to apple app store metrics
  science/2022-03-03-science-blog-5/index.md
  science/2022-03-03-science-blog-5/index_de.md
Labels: mirrored-to-jira, science-blog

#3398 Remove unnecessary directories from video check
  cypress/e2e/check_videos.cy.js
Labels: mirrored-to-jira, cypress, technical-issue

#3389 Update build-and-test.yml | Run tests in parallel
  .github/workflows/build-and-test.yml
Labels: mirrored-to-jira, cypress, technical-issue

#3403 Update #interoperability_countries: Add leave date for 'DE'
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3244 Show QR code in fullscreen
  src/assets/js/eventregistration.js
  src/assets/scss/vendor/_eventregistration.scss
Labels: enhancement, mirrored-to-jira, qr-code-generator, technical-issue

#3404 Improve check_links Cypress test to block hostnames not URLs
  cypress/e2e/hybrid/check_links.cy.js
Labels: mirrored-to-jira, cypress

#3402 Workflow for check_links
  .github/workflows/test-check_links.yml
Labels: mirrored-to-jira, cypress

#3406 Remove GitHub issue link from FAQ entry `where_can_i_get_tested`
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3411 New script `test:links` for web hyperlink checking
  package-lock.json
  package.json
Labels: mirrored-to-jira, cypress, technical-issue
