Repository corona-warn-app/cwa-website, pull requests merged in 2023-06, with the labels that each got.

#3522 Feature/blog june 1 2023
  blog/2023-06-01-danke/index.md
  blog/2023-06-01-danke/index_de.md
  src/data/sitemap.json
  src/data/sitemap_de.json
Labels: blog

#3528 Remove some linebreaks from last blog
  blog/2023-06-01-danke/index.md
  blog/2023-06-01-danke/index_de.md
Labels: blog

#3525 Fix blog - quotation marks
  blog/2023-06-01-danke/index.md
  src/data/sitemap.json
Labels: blog

#3529 Feature/technical hotline shutdown
  .github/workflows/build-and-test.yml
  cypress/e2e/hotline.cy.js
  docs/TESTING.md
  src/data/global.json
Labels: documentation, cypress, technical-issue

#3524 Past tense in yellow banner
  src/data/global.json
  src/data/science.json
Labels: documentation

#3507 Bump App version: Update gulpfile.mjs
  gulpfile.mjs
Labels: documentation

#3530 Update FAQ #international_phone_numbers
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3535 Feature/dashboard remove link
  src/data/analyse_de.json
  src/data/analyse_en.json
Labels: analysis-page

#3500 Update page-index.html: Remove sticky app download banner
  src/partials/page-index.html
Labels: documentation

#3542 Add missing words in CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#3544 Remove last section on main page: "Download the app"
  .github/workflows/build-and-test.yml
  docs/TESTING.md
  src/partials/page-index.html
Labels: documentation, technical-issue

#3546 remove applink cypress test from workflow
  cypress/e2e/applink.cy.js-deactivate
Labels: cypress, technical-issue

#3543 Science blog 5 - marginal note
  science/2022-03-03-science-blog-5/index.md
  science/2022-03-03-science-blog-5/index_de.md
  src/assets/scss/_science.scss
Labels: technical-issue, science-blog

#3547 sidenote science blog 2
  science/2021-07-08-science-blog-2/index.md
  science/2021-07-08-science-blog-2/index_de.md
Labels: technical-issue, science-blog

#3549 Science blogs, side notes: Dagger before comma
  science/2022-03-03-science-blog-5/index.md
  science/2022-03-03-science-blog-5/index_de.md
Labels: science-blog
