Repository corona-warn-app/cwa-website, pull requests merged in 2023-01, with the labels that each got.

#3301 Update FAQ #cause2001: Add hints to restart device & try with mobile data
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3300 Bump copyright year in footer
  src/data/global.json
Labels: mirrored-to-jira

#3302 Update FAQ #update_faq: Link to GitHub file history
  gulpfile.mjs
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3306 Fix FAQ #update_faq: Missing target='_blank'
  src/data/faq.json
  src/data/faq_de.json
Labels: faq

#3309 Add short Cypress test script npm run test:short
  README.md
  package-lock.json
  package.json
Labels: mirrored-to-jira, cypress, technical-issue

#3310 Update FAQ_SEARCH_SUMMARY: Invalid gulpfile link
  docs/FAQ_SEARCH_SUMMARY.md
Labels: documentation, mirrored-to-jira

#3311 Fix link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, technical-issue

#3312 Release 3.0: Update FAQ articles mentioning "Warn for others"
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3314 Add markdown-link-check and checklinks script
  README.md
  package-lock.json
  package.json
Labels: mirrored-to-jira, technical-issue

#3319 Create build-and-test workflow
  .github/workflows/build-and-test.yml
Labels: mirrored-to-jira, technical-issue

#3320 Update build-and-test.yml: Enable PR trigger
  .github/workflows/build-and-test.yml
Labels: mirrored-to-jira, technical-issue

#3324 Update workflows: Include build job into build-and-test
  .github/workflows/build-and-test.yml
  .github/workflows/build.yml
Labels: mirrored-to-jira, technical-issue

#3323 Uniformly use "Risiko-Ermittlung" (instead of "Risikoermittlung") in the German FAQs
  src/data/faq_de.json
Labels: faq

#3326 Science blog numbering and some corrections
  science/2021-06-15-science-blog-1/index.md
  science/2021-06-15-science-blog-1/index_de.md
  science/2021-07-08-science-blog-2/index.md
  science/2021-07-08-science-blog-2/index_de.md
  science/2021-08-02-science-blog-3/index.md
  science/2021-08-02-science-blog-3/index_de.md
  science/2021-10-15-science-blog-4/index.md
  science/2021-10-15-science-blog-4/index_de.md
  science/2022-03-03-science-blog-5/index.md
  science/2022-03-03-science-blog-5/index_de.md
  science/2022-11-23-science-blog-6/index.md
  science/2022-11-23-science-blog-6/index_de.md
  src/data/sitemap.json
  src/data/sitemap_de.json
Labels: mirrored-to-jira, science-blog

#3327 Experimental: Test cwa-website symlink handling
  src/assets/screenshots/2-4/de/ios/rat_1.png
  src/assets/screenshots/2-5/de/ios/rat_1.png
  src/assets/screenshots/2-6/de/ios/rat_1.png
Labels: mirrored-to-jira, technical-issue

#3322 Release 3.0 | Update FAQ: Add "Warning without TAN" section
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3317 Release 3.0 | Update #further_details: Change link of pandemic radar
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3321 Release 3.0 | Update TAN FAQs
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3173 [R 3.0] Update privacy notice
  src/assets/documents/cwa-privacy-notice-2.28-de.pdf
  src/assets/documents/cwa-privacy-notice-2.28-en.pdf
  src/assets/documents/cwa-privacy-notice-2.28-tr.pdf
  src/assets/documents/cwa-privacy-notice-de.pdf
  src/assets/documents/cwa-privacy-notice-en.pdf
  src/assets/documents/cwa-privacy-notice-tr.pdf
  src/data/privacy.json
  src/data/privacy_de.json
Labels: documentation, mirrored-to-jira, Fix 3.0

#3332 Add TAN hotline shutdown date Jan 31, 2023 to web footer
  src/data/global.json
Labels: documentation, Fix 3.0

#3340 Update #warn_without_tan: Change last sentence
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3339 Update FAQ #warn_without_tan_how_often: Add info about error hint
  src/assets/img/faq/warn_without_tan_how_often_DE.png
  src/assets/img/faq/warn_without_tan_how_often_EN.png
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3341 Update #no_risk_update_ios: Remove outdated resource
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3343 Remove stray ul end tag from end of link list on #red_card_how_to_test (EN)
  src/data/faq.json
Labels: bug, faq

#3344 Add information reg. root & SRS feature to FAQ entry `rooted_devices`
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3348 Change the date format
  src/data/faq.json
  src/data/privacy.json
  src/data/screenshots-archive-2-15.json
  src/data/screenshots-archive-2-16.json
  src/data/screenshots-archive-2-17.json
  src/data/screenshots-archive-2-18.json
  src/data/screenshots-archive-2-19.json
  src/data/screenshots-archive-2-20.json
  src/data/screenshots-archive-2-21.json
  src/data/screenshots-archive-2-22.json
  src/data/screenshots-archive-2-23.json
  src/data/screenshots-archive-2-24.json
  src/data/screenshots-archive-2-25.json
  src/data/screenshots-archive-2-26.json
  src/data/screenshots-archive-2-27.json
  src/data/screenshots-archive-2-3.json
  src/data/screenshots.json
  src/data/terms-of-use.json
Labels: documentation, mirrored-to-jira, faq

#3352 fix/Date-format
  src/data/faq.json
Labels: mirrored-to-jira, faq

#3293 Fix AddEnglishSpecifier() producing illegal HTML
  gulpfile.mjs
  package-lock.json
  package.json
  src/data/english-texts.json
Labels: mirrored-to-jira, technical-issue

#3357 Update FAQ: TAN-Hotline Shutdown
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, Fix 3.0, faq

#3358 Update TAN FAQ: Change "Updated" date
  src/data/faq.json
  src/data/faq_de.json
Labels: mirrored-to-jira, faq

#3359 Update Screenshots: Match image size for print-share.png
  src/assets/screenshots/3-0/de/ios/print_share.png
  src/assets/screenshots/3-0/en/ios/print_share.png
Labels: mirrored-to-jira, screenshots

#3360 Update accessibility.json
  src/data/accessibility.json
  src/data/accessibility_de.json
Labels: documentation, mirrored-to-jira
